.map-navigate {
    display: flex;
    justify-content: space-evenly;
}

nz-card.map-card {
    padding: 0px 1px;
}


.incident.active-incident {
    background-color: rgba(37, 37, 37, 0.38);
}

.incident:hover:not(.active-incident) {
    background-color: rgba(37, 37, 37, 0.2);
}