<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content">
                    {{dividerText}}
                </div>
            </h2>
        </div>

        <div class="ui secondary segment no-padding">
            <nz-affix [nzTarget]="mapLayoutInfo" class="map-header">
                <div  class="affix-header">
                    <div class="container">
                        <div class="row">
                            <div class="map-navigate">
                                <button nz-button [nzSize]="'large'" nzShape="round" nzBlock [disabled]="currentMode == 'cameras'" (click)="setCurrentMode('cameras')" nz-tooltip="Camera"><i nz-icon><i class="fa-solid fa-camera"></i></i></button>
                                <button nz-button [nzSize]="'large'" nzShape="round" nzBlock [disabled]="currentMode == 'parkings'" (click)="setCurrentMode('parkings')" nz-tooltip="Bãi đỗ xe"><i nz-icon><i class="fa-solid fa-square-parking"></i></i></button>
                                <button nz-button [nzSize]="'large'" nzShape="round" nzBlock [disabled]="currentMode == 'roadevents'" (click)="setCurrentMode('roadevents')" nz-tooltip="Phân luồng"><i nz-icon><i class="fa-solid fa-road"></i></i></button>
                                <button nz-button [nzSize]="'large'" nzShape="round" nzBlock [disabled]="currentMode == 'staticmaps'" (click)="setCurrentMode('staticmaps')" nz-tooltip="Thông tin tĩnh"><i nz-icon><i class="fa-solid fa-circle-info"></i></i></button>
                                <button nz-button [nzSize]="'large'" nzShape="round" nzBlock [disabled]="currentMode == 'incidents'" (click)="setCurrentMode('incidents')" nz-tooltip="Cảnh báo"><i nz-icon><i class="fa-solid fa-triangle-exclamation"></i></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-affix>
        </div>
    </div>

    <div [hidden]="!(currentMode == 'cameras')">
        <nz-card [nzCover]="cameraCover" class="map-card" *ngIf="chosenMarkers['camera']">
            <img *ngIf="chosenMarkers['camera']" class="angle-camera" src="assets/images/compass.png" [ngStyle]="chosenMarkers['camera']?.angleStyle">
            <div id="crEventCamera" class="camera-create-event-icon" (click)="createdEventByCamera(chosenMarkers['camera'])" title="Tạo cảnh báo ở camera này"><i class="fa-solid fa-triangle-exclamation"></i></div>
        
            <div *ngIf="chosenMarkers['camera']" >
                <nz-card-meta [nzTitle]="'Tên camera: '+chosenMarkers['camera'].name" [nzDescription]="chosenMarkers['camera'].lastUpdated | amLocale:'vi' | amTimeAgo"></nz-card-meta>
                <br>
                <nz-row>
                    <nz-col nzFlex="1">
                        <button nz-button nzBlock="true" (click)="share('camera', chosenMarkers['camera']._id)">
                            <i class="fa-solid fa-share-from-square"></i>
                            <span class="map-layout-info-content-button">Chia sẻ</span>
                        </button>
                    </nz-col>
                    <nz-col nzFlex="1">
                        <button nz-button nzBlock="true" (click)="favoriteCamera(chosenMarkers['camera'])">
                            <i class="fa-solid fa-star" [ngClass]="{'yellow': checkExistInFavoriteList(chosenMarkers['camera']._id)}"></i>
                            <span class="map-layout-info-content-button" [ngClass]="{'yellow': checkExistInFavoriteList(chosenMarkers['camera']._id)}">Quan tâm</span>
                          </button>
                    </nz-col>
                </nz-row>              
            </div>
        </nz-card>

        <ng-template #cameraCover>
            <img class="map-camera-image" *ngIf="chosenMarkers['camera'] && chosenMarkers['camera']?.liveviewUrl" (error)="imageError($event)" src="{{chosenMarkers['camera'].url}}" (load)="cameraLoading = false">
            <img class="map-camera-image" *ngIf="chosenMarkers['camera'] && !chosenMarkers['camera']?.liveviewUrl || chosenMarkers['camera']?.liveview === ''" src="//dummyimage.com/600x400/000/fff&text=Camera sai thông số" (load)="cameraLoading = false">
        </ng-template>
        <nz-divider nzText="Quan tâm" class="divider-blue"></nz-divider>

        <div *ngIf="listFavoriteCamera.length <= 0">
            <nz-card>
                <nz-card-meta nzTitle="Bạn chưa quan tâm camera nào"></nz-card-meta> 
            </nz-card>
            <br>
        </div>
        
        <div *ngIf="listFavoriteCamera.length > 0">
            <div *ngFor="let favCamera of listFavoriteCamera" (click)="chooseCameraFromList(favCamera.fId)">
                <nz-card [nzCover]="cameraCoverFavorite">
                    <nz-card-meta [nzTitle]="'Tên camera: '+favCamera.fName"></nz-card-meta> 
                </nz-card>

                <ng-template #cameraCoverFavorite>
                    <img class="map-camera-image" (error)="imageError($event)" src="{{backend}}api/snapshot/{{favCamera.fId}}" (load)="cameraLoading = false">
                </ng-template>
                <br>
            </div>
        </div>
    </div>

    <div [hidden]="!(currentMode == 'parkings')">

        <nz-card *ngIf="chosenMarkers['parking']">              
            <div>
                <nz-row class="parking-header">
                    <h3>{{chosenMarkers['parking'].name}}</h3>
                </nz-row>
                <nz-row class="mt-3">
                    <div class="ui blue labels" *ngIf="chosenMarkers['parking']['vehicle_type']['car'] || chosenMarkers['parking']['vehicle_type']['bike']">
                        <div class="ui label" *ngIf="chosenMarkers['parking']['vehicle_type']['car']"> Ô tô </div>
                        <div class="ui label" *ngIf="chosenMarkers['parking']['vehicle_type']['bike']"> Xe máy </div>
                    </div>

                    
                </nz-row>
                <nz-row  *ngIf="chosenMarkers['parking']?.worktime">
                    <p><b>Địa chỉ: </b> {{chosenMarkers['parking']?.addr}}</p>
                </nz-row>
                <nz-row  *ngIf="chosenMarkers['parking']?.worktime">
                    <p><b>Thời gian làm việc: </b> Từ {{chosenMarkers['parking'].worktime['startWorking']}} đến {{chosenMarkers['parking'].worktime['endWorking']}} giờ</p>
                </nz-row>
                <nz-row  *ngIf="chosenMarkers['parking']?.worktime_details">
                    <p><b>Ngày làm việc: </b> {{chosenMarkers['parking'].worktime_details}}</p>
                </nz-row>
                <nz-row class="mt-3">
                    <nz-col nzFlex="1">
                        <button nz-button nzBlock="true" (click)="share('parking', chosenMarkers['parking']?._id)">
                            <i class="fa-solid fa-share-from-square"></i>
                            <span class="map-layout-info-content-button">Chia sẻ</span>
                        </button>
                    </nz-col>

                    <nz-col nzFlex="1">
                        <button nz-button nzBlock="true" (click)="favoriteParking(chosenMarkers['parking'])">
                            <i class="fa-solid fa-star" [ngClass]="{'yellow': checkParkingExistInFavoriteList(chosenMarkers['parking']._id)}"></i>
                            <span class="map-layout-info-content-button" [ngClass]="{'yellow': checkParkingExistInFavoriteList(chosenMarkers['parking']._id)}">Quan tâm</span>
                          </button>
                    </nz-col>
                </nz-row>              
            </div>
        </nz-card>

        <nz-divider nzText="Quan tâm" class="divider-blue"></nz-divider>

        <div *ngIf="getParkingFromFavorList().length <= 0">
            <nz-card>
                <nz-card-meta nzTitle="Bạn chưa quan tâm bãi xe nào"></nz-card-meta> 
            </nz-card>
            <br>
        </div>
        
        <div *ngIf="getParkingFromFavorList().length > 0">
            <div class="mb-3" *ngFor="let parkingFav of getParkingFromFavorList()" (click)="chooseParkingFromList(parkingFav._id)">
                <nz-card>              
                    <div>
                        <nz-row class="parking-header">
                            <h3>{{parkingFav.name}}</h3>
                        </nz-row>
                        <nz-row class="mt-3">
                            <div class="ui blue labels" *ngIf="parkingFav['vehicle_type']['car'] || parkingFav['vehicle_type']['bike']">
                                <div class="ui label" *ngIf="parkingFav['vehicle_type']['car']"> Ô tô </div>
                                <div class="ui label" *ngIf="parkingFav['vehicle_type']['bike']"> Xe máy </div>
                            </div>

                            
                        </nz-row>
                        <nz-row  *ngIf="parkingFav?.worktime">
                            <p><b>Địa chỉ: </b> {{parkingFav?.addr}}</p>
                        </nz-row>
                        <nz-row  *ngIf="parkingFav?.worktime">
                            <p><b>Thời gian làm việc: </b> Từ {{parkingFav.worktime['startWorking']}} đến {{parkingFav.worktime['endWorking']}} giờ</p>
                        </nz-row>
                        <nz-row  *ngIf="parkingFav?.worktime_details">
                            <p><b>Ngày làm việc: </b> {{parkingFav.worktime_details}}</p>
                        </nz-row>    
                    </div>
                </nz-card>
            </div>
        </div>
    </div>

    <div [hidden]="!(currentMode == 'roadevents')">
        <div class="ui segment">
            <div class="ui fluid left icon input">
                <input id="filterRoadEvent" type="text" placeholder="Tìm nhanh" [(ngModel)]="filterRoadEvent" class="form-control">
                    <i class="filter icon "></i>
            </div>

            <h4 class="ui center aligned header" *ngIf="listRoadEvents.length <= 0">
                <div class="content">
                    Không có phân luồng nào
                </div>
            </h4>

            <h4 class="ui center aligned header" *ngIf="listRoadEvents.length > 0 && (listRoadEvents | searchFilter: filterRoadEvent: ['geoObject', 'featureCollection', 'properties', 'name']).length <= 0">
                <div class="content">
                    Không tìm thấy phân luồng trên
                </div>
            </h4>

            <div class="ui middle aligned selection divided list" *ngIf="listRoadEvents.length > 0">
                <div class="item" id="{{roadEvent._id}}" *ngFor="let roadEvent of (listRoadEvents | searchFilter: filterRoadEvent: ['geoObject', 'featureCollection', 'properties', 'name'])">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" (click)="toggleRoadEvent(roadEvent)">
                        <label> 
                            <span class="header">{{roadEvent.geoObject.featureCollection.properties.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!(currentMode == 'staticmaps')">
        <div class="ui segment">
            <div class="ui fluid left icon input">
                <input id="filterStaticMap" type="text" placeholder="Tìm nhanh" [(ngModel)]="filterStaticMap" class="form-control">
                    <i class="filter icon "></i>
            </div>

            <h4 class="ui center aligned header" *ngIf="listStaticMaps.length <= 0">
                <div class="content">
                    Không có lớp thông tĩnh nào
                </div>
            </h4>

            <h4 class="ui center aligned header" *ngIf="listStaticMaps.length > 0 && (listStaticMaps | searchFilter: filterStaticMap: ['staticMapData', 'name']).length <= 0">
                <div class="content">
                    Không tìm thấy lớp thông tĩnh trên
                </div>
            </h4>


            <div class="ui middle aligned selection divided list">
                <div class="item" id="{{staticmap._id}}" *ngFor="let staticmap of (listStaticMaps | searchFilter: filterStaticMap: ['staticMapData', 'name'])">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" (click)="toggleStaticMap(staticmap)">
                        <label> 
                            <span class="header">{{staticmap.staticMapData.name}}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!(currentMode == 'incidents')">
        <div class="ui segment"  *ngIf="listEvent.length <= 0">
            <h4 class="ui center aligned header">
                <div class="content">
                    Không có cảnh báo nào
                </div>
            </h4>
        </div>


        <div *ngIf="listEvent.length > 0">
            <div class="ui segment incident" [ngClass]="{'active-incident': event._id == chosenMarkers['incident']}" *ngFor="let event of listEvent | orderBy:['createdAt']:['desc']">
                <div class="content">
                    <div class="ui large feed">
                        <div id="event-{{event._id}}" class="event" (click)="chooseIncident(event)">
                            <div class="label event-icon">
                                <i class="circle icon {{listEventType[event.type].color}}"></i>
                            </div>
                            <div class="content">
                                <div class="summary">
                                    <a class="user">{{event.desc[0]}}</a>
                                    <div class="date">
                                        <span>{{event.createdAt | amLocale:'vi' | amTimeAgo}}</span>
                                    </div>
                                </div>
                                <div class="extra text">
                                    {{event.desc[1]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-modal
      [(nzVisible)]="isShare"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="closeModal()"
    >
      <ng-template #modalTitle>Chia sẻ</ng-template>

      <ng-template #modalContent>
        <p nz-typography nzCopyable [nzContent]="shareLink"></p>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="closeModal()">Đóng</button>
      </ng-template>
    </nz-modal>
