.map-navigate {
    display: flex;
    justify-content: space-evenly;
}

nz-card.map-card {
    padding: 0px 1px;
}


.incident.active-incident {
    background-color: rgba(37, 37, 37, 0.38);
}

.incident:hover:not(.active-incident) {
    background-color: rgba(37, 37, 37, 0.2);
}

i.icon.circle:before {
    font-size: xx-large;
}

.ui.feed>.event>.content .summary>.date {
    display: block;
    float: right !important;
    font-weight: 400;
    font-size: .85714286em;
    font-style: normal;
    margin: 0 0 0 .5em;
    padding: 0;
    color: rgba(0,0,0,.4);
}

::ng-deep .creEventMarker.opacity {
    opacity: 0.6;
}

::ng-deep .creEventMarker.opacity:hover {
    opacity: 1;
}