<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-3" *ngIf="appCom?.profile">

			</div>
			<div class="col-md-6 order-2 order-md-1 text-center">
				<img class="img-fluid" src="assets/images/localize/overlay-logo.png" alt="screenshot">
			</div>
				
			<div class="col-md-6 text-center order-1 order-md-2" *ngIf="!appCom?.profile">
				<h1 class="text-white font-weight-bold mb-4">Các tính năng </h1>
				<p class="text-white mb-5">Quan sát, điều chỉnh camera.
					<br>Kiểm tra tình trạng giao thông.<br>
					Phân luồng, cảnh báo giao thông.
				</p>
				
				<a (click)="login()" class="btn btn-main-md" style="color: white;">Đăng ký ngay</a>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-paint-bucket text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Cảnh báo giao thông</h3>
					<div class="regular text-muted" *ngIf="!appCom.profile"><p>Đăng nhập để xem nội dung này</p></div>
					<div class="regular text-muted" *ngIf="!!appCom.profile">
						<div *ngIf="listEvent?.length <= 0">
							Hiện tại chưa có cảnh báo nào
						</div>
						<div [routerLink]="['/map']" [queryParams]="{type:'event', id: event._id}" *ngFor="let event of listEvent | orderBy:['createdAt']:['desc']">
							<div class="ui large feed">
								<div class="event" [ngClass]="{'inverted': !isScrolled}">
									<div class="label event-icon">
										<i class="circle icon {{event.color}}"></i>
									</div>
									<div class="content">
										<div class="summary">
											<a class="user">{{event.desc[0]}}</a>
											<div class="date">
												<span>{{event.createdAt | amLocale:'vi' | amTimeAgo }}</span>
											</div>
										</div>
										<div class="extra text">
											{{event.desc[1]}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-shine text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Tin tức - Sự kiện</h3>
					<div class="regular text-muted" [ngClass]="{'scroll-contain': isScrolled, 'default-contain': !isScrolled}">
						<div scroll-only-this="scroll-only-this"  class="ui relaxed divided list">
							<a *ngFor="let content of contents" class="text-primary" href="{{content.url}}" target="_blank" >{{content.title}}<nz-divider></nz-divider></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<i class="ti-thought text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Camera quan tâm</h3>
					<div class="regular text-muted" [ngClass]="{'scroll-contain': isScrolled, 'default-contain': !isScrolled}">
						<div class="regular text-muted" *ngIf="!!appCom.profile">
							<div *ngIf="favoriteList?.length <= 0">
								Hiện tại chưa có cảnh báo nào
							</div>
							<div *ngIf="!appCom.profile">
								Đăng nhập để xem các camera mà bạn quan tâm
							</div>
							<div  *ngIf="!!appCom.profile">
								<div *ngIf="favoriteList?.length <= 0">
									Bạn chưa quan tâm camera nào cả
								</div>
								<!-- <div class="item contain-history-camera" *ngFor="let camera of favoriteList" [routerLink]="['/map']" [queryParams]="{type:'camera', id: camera.fId}">
									<img class="ui fluid image image-camera-main" src="{{backend}}api/snapshot/{{camera.fId}}" (error)="imageError($event)">
									<div class="camera-name limit-character">{{camera.fName}}</div>
									<nz-divider></nz-divider>
								</div> -->
								<div class="regular text-muted" [ngClass]="{'scroll-contain': isScrolled, 'default-contain': !isScrolled}">
									<form nz-form scroll-only-this="scroll-only-this"  class="ui relaxed divided list" *ngFor="let camera of favoriteList" [routerLink]="['/map']" [queryParams]="{type:'camera', id: camera.fId}">
										<!-- <nz-form-item> -->
											<p>{{camera.fName}}</p>
											<img nz-image width="55%" nzSrc="{{backend}}api/snapshot/{{camera.fId}}" (error)="imageError($event)">
											<nz-divider></nz-divider>

										<!-- </nz-form-item> -->
									
										
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="regular text-muted" *ngIf="!appCom.profile"><p>Đăng nhập để xem nội dung này</p></div> -->
					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
					<img nz-image data-aos="fade-right" width="100%" nzSrc="assets/images/beach1.jpg"alt="screenshot">
				
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Trung tâm Quản lý đường hầm sông Sài Gòn tổ chức thông tin tuyên truyền về tình hình Biển Đông
						<!-- <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a> -->
					</h2>
					<!-- Feature Description -->
					<p class="desc">Thực hiện Kế hoạch số 57-KH/ĐUTT ngày 20 tháng 6 năm 2016 của Đảng ủy Trung tâm Quản lý đường hầm sông Sài Gòn về tổ chức thông tin tuyên truyền về tình hình biển Đông. Chiều ngày 08/7/2016, Đảng ủy Trung tâm Quản lý đường hầm sông Sài Gòn đã tổ chức buổi thông tin tuyên truyền về tình hình biển Đông cho cán bộ, đảng viên, viên chức, nhân viên Trung tâm.</p>
				</div>
				<!-- Testimonial Quote -->
				<!-- <div class="testimonial">
					<p>
						"InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
						place."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="images/testimonial/feature-testimonial-thumb.jpg" alt="">
						</li>
						<li class="list-inline-item">Jonathon Andrew , Themefisher.com</li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Dự án bổ sung, nâng cấp hệ thống Camera đường hầm sông Sài Gòn
						<!-- <a href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a> -->
					</h2>
					<!-- Feature Description -->
					<p>Nhằm hỗ trợ kịp thời và chính xác cho bộ phận giám sát đường hầm có phương án xử lý, điều tiết lưu lượng kịp thời, đảm bảo an toàn giao thông và hạn chế ùn tắc có thể xảy ra cho các phương tiện khi lưu thông qua đường hầm sông Sài gòn, cũng như đảm bảo các hình ảnh ghi nhận, truy xuất được từ hệ thống đủ căn cứ xử phạt các hành vi vi phạm quy định giao thông và an ninh trật tự tại công trình đường hầm sông Sài Gòn.</p>
				</div>
				<!-- Testimonial Quote -->
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img nz-image width="100%" nzSrc="assets/images/bridge.jpg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="video-promo section bg-1">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="content-block">
					<!-- Heading -->
					<!-- <h2>Watch Our Promo Video</h2> -->
					<!-- Promotional Speech -->
					<!-- <p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat, accumsan id imperdiet et,
						porttitor at sem. Vivamus </p> -->
					<!-- Popup Video -->
					<!-- <a data-fancybox href="https://www.youtube.com/watch?v=ZNtxPUZhKCQ">
						<i class="ti-control-play video"></i>
					</a> -->
					<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZNtxPUZhKCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <footer> -->
	<div class="footer-main">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-4 col-md-12 me-md-auto align-self-center">
			<div class="block">
			  <a href="index.html"><img style="width: 40%;" src="assets/images/logo/fis.png" alt="footer-logo"></a>
			  <!-- Social Site Icons -->
			  <ul class="social-icon list-inline">
				<li class="list-inline-item">
				  	<a href="https://www.facebook.com/FPTInformationSystem/" target="_blank">
					  <i class="ti-facebook"></i>
					  <!-- <i class="ti-facebook" nz-icon nzType="facebook" nzTheme="outline"></i> -->
					</a>
				</li>
				<li class="list-inline-item">
				  	<a href="https://www.linkedin.com/company/fptis/" target="_blank">
					  <i class="ti-linkedin"></i>
					  <!-- <i class="ti-twitter" nz-icon nzType="twitter" nzTheme="outline"></i> -->
					</a>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Giải pháp & Dịch vụ</h6>
			  <!-- links -->
			  <ul>
				<li><a href="https://www.fis.com.vn/Views/resources/cid/8" target="_blank">Nguồn lực</a></li>
				<!-- <li><a href="blog.html">Blogs</a></li>
				<li><a href="FAQ.html">FAQs</a></li> -->
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Giới thiệu</h6>
			  <!-- links -->
			  <ul>
				<li><a href="https://www.fis.com.vn/Views/corporate-informations/cid/7" target="_blank">Lịch sử</a></li>
				<!-- <li><a href="contact.html">Contact</a></li>
				<li><a href="team.html">Team</a></li>
				<li><a href="privacy-policy.html">Privacy Policy</a></li> -->
			  </ul>
			</div>
		  </div>

		  <div class="scroll-top-to" (click)="pullDown()">
			<i class="ti-angle-up"></i>
		</div>
		</div>
	  </div>
	</div>

	<!-- <div class="text-center bg-dark py-4">
		<small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></small>
	</div>
	
	<div class="text-center bg-dark py-1">
		<small> <p>Distributed By <a href="https://themewagon.com/">Themewagon</a></p></small>
	</div> -->
	<!-- </footer> -->
	
	