/* .gridStyle {
    width: '12.5%';
    text-align: 'center';
}; */

.table-wrapper {
    width: 100%;
    background: #fff;
    padding: 20px 25px;
    border-radius: 0px 3px 3px 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.table-title {
    padding-bottom: 15px;
    background: #1890ff;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

::after,
::before {
    box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

::ng-deep .ant-table-placeholder.ng-star-inserted {
    display: none;
}

::ng-deep nz-card.user-card>div.ant-card-head.ng-star-inserted {
    background-color: #1890ff;
    color: white;
    font-weight: bold;
    font-size: 19.5px;
}

.ant-divider-inner-text {
    color: blue !important;
    font-weight: bold !important;
    opacity: 0.5 !important;
}


::ng-deep .user-tabset>nz-tabs-nav {
    margin: 0 !important;
}

::ng-deep .ant-tabs-tab {
    border: 0 !important;
    padding: 0 !important;
}

::ng-deep .ant-tabs-tab-btn {
    padding: 8px;
    font-size: 19.5px;
    font-weight: bold;
}

::ng-deep .ant-card-head-title {
    padding: 8px 0;
}

.users-layout {
    background: #f0f2f5;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ant-card-bordered {
    border: 0;
}

:host>>>.ant-tabs-tab-active {
    background-color: #1890ff !important;
}

:host>>>.ant-tabs-tab-active>div {
    color: #fff !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;

}

/* .ui.table>tbody>tr>td, .ui.table>tr>td {
    padding: .2em .4em;
} */

/* .ui.checkbox {
    padding-left: 30px !important;  
} */

.role {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #2e7eed;
    color: #fff;
    transition: 0.3s;
    z-index: 2000;
    cursor: pointer;
    display: none;
}

.role:hover {
    background: #333;
}

@media (min-width:992px) {
    .user-card-body {
        overflow-y: auto;
        max-height: 70vh;
    }

    ::ng-deep .user-affix>.ant-affix {
        width: calc(33% - 17px) !important
    }
}

@media (max-width:992px) {
    .user-card-body {
        overflow-y: auto;
        max-height: 20vh;
    }

    ::ng-deep .user-affix>.ant-affix {
        width: calc(100% - 17px) !important
    }
}

.user-card-avatar>.fluid.image {
    max-width: 50px !important;
}

.user-card-avatar {
    text-align: -webkit-right !important;
}

.hoverable:hover {
    background: rgba(0, 0, 0, 0.1);
}

.hoverable.selected {
    background: rgba(0, 0, 0, 0.3);
}

:host>>>.card.customClass .card-header {
    background-color: #1890ff;
    color: #fff;
}

:host>>>.card.customClass .card-header:hover {
    background-color: rgba(24, 143, 255, 0.8);
}