/* You can add global styles to this file, and also import other style files */
  
.map-layout {
    position: relative;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.map-layout-info {
    top: 0px;
    width: 408px;
    height: 100%;
    z-index: 998;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}


.map-layout-info-header {
    height: 40px;
    flex: 0 0 auto;
}

.map-layout-info-button {
    top:50%;
    position:absolute;
    z-index: 999;
}

.map-layout-info-content {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
    padding: 0 5px;
}

.map-leaflet {
    height: 100%;
}

.map-search {
    position: absolute;
    top: 0px;
    padding: 10px 10px;
    z-index: 999;
    display: flex;
}

.map-search-bar {
    width: 388px;
    margin-right: 10px;
}

.map-search-button {
    margin: 0px 10px;
}

.map-search-result {
    height: auto !important
}

nz-layout {
   height: 100% !important;
}

.camera-create-event-icon {
    position: absolute;
    top: 0px;
    left: 5px;
    color: white;
    cursor: pointer;
    font-size: 200%;
    opacity: 0.7;
}

.camera-create-event-icon:hover {
    opacity: 1;
}


/* For Marker */
.modify-marker {
    border-radius: 50%;
    position: absolute;
    opacity: 0.7!important;
}

.modify-marker:hover {
    opacity: 1!important;
}

.marker-background {
    border-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.modify-marker.selected {
    opacity: 1!important;
}

.modify-marker.selected > .marker-background {
    border: 2px solid black;
}

.modify-marker > .marker-background {
    background-color: #696969;
}

.modify-marker.good > .marker-background {
    background-color: #4183d7;
}

.modify-marker.error > .marker-background {
    background-color: #f44336;
}

.modify-marker.new > .marker-background {
    background-color: #21ba45;
}

.marker-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.modify-marker.normal > .marker-icon {
    background-image: url(assets/images/markers/marker-camera-icon.png);
}

.modify-marker.ptz > .marker-icon {
    background-image: url(assets/images/markers/marker-ptz-camera-icon.png);
}

.modify-marker.undefined > .marker-content::after {
    content: "?";
    position: absolute;
    left: 15%;
    font-weight: bold;
    bottom: 10%;
}

.modify-marker.undefined > .marker-content::after {
    color: #f44336;
}
.modify-marker.error.undefined > .marker-content::after {
    color: #4183d7;
}

.modify-marker.error > .marker-content::after {
    font-size: 80%;
}

.circle-cluster {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: red;
    right: -5px;
    top: -5px;
    position: absolute;
}

.marker-parking {
    width: 33.5px;
    height: 40px;
    background-size: 33.5px 40px;
    
    background-image: url(assets/images/parking.png);
}


.marker-parking.selected {
    background-image: url(assets/images/parking_select.png);
}


.marker-jam-incident {
    width: 50.25px;
    height: 60px;
    margin-top: -54.75px;
    margin-left: -24.75px;
    background-image: url(assets/images/markers/jam-incident.png);
    background-size: 50.25px 60px;
}

.marker-jam-moderate {
    width: 50.25px;
    height: 60px;
    margin-top: -54.75px;
    margin-left: -24.75px;
    background-image: url(assets/images/markers/jam-moderate.png);
    background-size: 50.25px 60px;
}

.marker-jam-extreme {
    width: 50.25px;
    height: 60px;
    margin-top: -54.75px;
    margin-left: -24.75px;
    background-image: url(assets/images/markers/jam-extreme.png);
    background-size: 50.25px 60px;
}

.marker-jam-normal {
    width: 50.25px;
    height: 60px;
    margin-top: -54.75px;
    margin-left: -24.75px;
    background-image: url(assets/images/markers/jam-normal.png);
    background-size: 50.25px 60px;
}

.marker-jam-flood {
    width: 50.25px;
    height: 60px;
    margin-top: -54.75px;
    margin-left: -24.75px;
    background-image: url(assets/images/markers/jam-flood.png);
    background-size: 50.25px 60px;
}

.leaflet-div-icon {
    background: none !important;
    border: none !important;
}

.marker-parking {
    width: 33.5px;
    height: 40px;
    background-size: 33.5px 40px;
    
    background-image: url(assets/images/parking.png);
}
.marker-parking.selected {
    background-image: url(assets/images/parking_select.png);
}

.marker-roadwork {
    width: 33.5px;
    height: 40px;
    background-size: 33.5px 40px;
}
.marker-roadwork-roadwork {    
    background-image: url(assets/images/roadwork.png);
}
.marker-roadwork-water_pipes_on_road {
    background-image: url(assets/images/water_pipes_on_road.png);
}
.marker-roadwork-event_on_road {
    background-image: url(assets/images/event_on_road.png);
}
.marker-roadwork-camera_on_road {
    background-image: url(assets/images/camera.png);
}
.marker-roadwork-roadwork.selected {
    background-image: url(assets/images/roadwork_select.png);    
}
.marker-roadwork-water_pipes_on_road.selected {
    background-image: url(assets/images/water_pipes_on_road_select.png);
}
.marker-roadwork-event_on_road.selected {
    background-image: url(assets/images/event_on_road_select.png);
}
.marker-roadwork-camera_on_road.selected {
    background-image: url(assets/images/camera_select.png);
}

/* Camera  */

.angle-camera {
    top: 4px;
    opacity: 0.7;
    position: absolute;
    right: 4px;
    width: 40px;
}

.map-camera-image {
    width: 338px;
}

.yellow {
    color: #eaae00 !important;
}

.map-layout-info-content-button {
    padding-left: 5px;
    font-weight: bold;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 6px;
    overflow-y: auto;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
    border-radius: 20px !important;
}

::-webkit-scrollbar-thumb {
    background: #1890ff !important;
    border-radius: 20px !important;
}

::-webkit-scrollbar-track {
    border-radius: 20px !important;
    box-shadow: inset 0 0 5px grey; 
}