<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content">
                    Cảnh báo giao thông
                </div>
            </h2>
        </div>

        <div class="ui secondary segment no-padding">
            <nz-affix [nzTarget]="mapLayoutInfo" class="map-header">
                <div class="affix-header">
                    <div class="container">
                        <div class="row mb-3">
                            <div class="input-group mb-1">
                                <select class="form-select" aria-label="Example select with button addon" [(ngModel)]="status" (change)="refresh()">
                                    <option *ngFor="let statusData of statusListArray" value="{{statusData.id}}">{{statusData.name}} </option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" [disabled]="isLoadingStatus" (click)="refresh()">
                                        <i class="refresh icon"></i> Làm mới
                                    </button>
                                </div>
                              </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group d-flex" role="group">
                                    <button class="btn btn-primary" style="pointer-events: none;">
                                        <span class="d-block d-xl-none">Lọc</span>
                                        <span class="d-none d-xl-block">Lọc theo màu</span>
                                    </button>
                                    <button class="btn" [ngClass]="{'btn-primary':filter['color'] == 'yellow', 'btn-secondary':filter['color'] != 'yellow'}" (click)="filterListEvent('yellow')"><i class="circle yellow icon small-icon m-0"></i></button>
                                    <button class="btn" [ngClass]="{'btn-primary':filter['color'] == 'red', 'btn-secondary':filter['color'] != 'red'}" (click)="filterListEvent('red')"><i class="circle red icon small-icon m-0"></i></button>
                                    <button class="btn" [ngClass]="{'btn-primary':filter['color'] == 'green', 'btn-secondary':filter['color'] != 'green'}" (click)="filterListEvent('green')"><i class="circle green icon small-icon m-0"></i></button>
                                    <button class="btn" [ngClass]="{'btn-primary':filter['color'] == 'orange', 'btn-secondary':filter['color'] != 'orange'}" (click)="filterListEvent('orange')"><i class="circle orange icon small-icon m-0"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-affix>
        </div>
    </div>


    <div class="ui segments">
        <div class="ui segment" *ngIf="listEventsForFilter.length == 0">
            <h4 class="ui center aligned header">
                <div class="content" *ngIf="isLoadingStatus">
                    <nz-spin nzSimple></nz-spin>
                    Đang tải...
                </div>
                <div class="content" *ngIf="!isLoadingStatus && listEventsForFilter.length == 0">
                    Không có cảnh báo {{statusList[status].name.toLowerCase() == 'tất cả' ? 'nào' : statusList[status].name.toLowerCase()}}
                </div>
            </h4>
        </div>

        <div class="ui segment incident" id="incident_{{event._id}}" [ngClass]="{'active-incident': event._id == chooseEventId}"  *ngFor="let event of listEvents | filter:filter | orderBy:['createdAt']:['desc']">
            <div class="content">
                <div class="ui large feed">
                    <div class="event"
                        (click)="chooseEvent(event)">
                        <div class="label event-icon">
                            <i class="circle icon {{event.color}}"></i>
                        </div>
                        <div class="content">
                            <div class="row mb-2">
                                <div class="col-7 text-break">
                                    <a class="user">{{event.desc[0]}}</a>
                                </div>
                                <div class="col-5 text-right ps-0">
                                    <small>{{event.createdAt | amLocale:'vi' | amTimeAgo}}</small>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-7 text-break">
                                    <a> {{event.desc[1]}}</a>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-7 text-break">
                                    <div class="ui label">
                                        <i class="user icon" title="Người dùng"></i> {{event.creator.name}}
                                    </div>
                                </div>
                                <div class="col-5 text-right ps-0">
                                    <div *ngIf="!event['tmpStatus']" class="ui label float float-right {{statusList[event.status].color}}">
                                        <i class="{{statusList[event.status].icon}} icon"></i>{{statusList[event.status].name}}
                                    </div>
                                    <div *ngIf="event['tmpStatus']" class="ui label float float-right {{statusList[event.tmpStatus].color}}">
                                        <i class="{{statusList[event.tmpStatus].icon}} icon"></i>{{statusList[event.tmpStatus].name}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" [hidden]="!(appCom.checkPermission(['trafficevents:update']))" *ngIf="event._id == chooseEventId && event.status != 'rejected' && !(event['tmpStatus'] == 'expired')">
                                <div class="col-12">
                                    <div class="btn-group" role="group">
                                        <button *ngIf="event.status == 'created' && !event['tmpStatus']" data-tooltip="Duyệt" data-position="top center" (click)="approveEvent(event);$event.stopPropagation()"
                                            class="btn btn-success"><i class="checkmark icon"></i></button>
                                        <button *ngIf="event.status == 'created' && !event['tmpStatus']" data-tooltip="Không duyệt" data-position="top center" (click)="rejectEvent(event);$event.stopPropagation()"
                                            class="btn btn-danger"><i class="remove icon"></i></button>
                                        <button *ngIf="event.status == 'approved' || event['tmpStatus']  == 'approved'" data-tooltip="Dừng cảnh báo" data-position="top center" (click)="expireEvent(event);$event.stopPropagation()"
                                            class="btn btn-danger"><i class="hourglass end icon"></i></button>
                                        <button *ngIf="event.status != 'rejected' || event['tmpStatus']  == 'rejected'" data-tooltip="Cập nhật" data-position="top center" (click)="editEvent(event);$event.stopPropagation()"
                                            class="btn btn-primary"><i class="pen icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>