<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content">
                    {{(isCreate)?'Thêm công trình thi công':'Chỉnh sửa công trình thi công'}}
                </div>
            </h2>
        </div>
    </div>

    <div class="ui segment">
        <form #roadworkForm="ngForm">
            <div class="container">

                <h3>Thông tin chung</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="newRoadworkName" class="form-label required"><h5>Tên công trình</h5></label>
                            <input class="form-control" type="text" id="newRoadworkName" name="newRoadworkName" placeholder="Dự án..." (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['name']" />
                            <div class="ui pointing red basic label" *ngIf="error?.name">{{error.name}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkOwner" class="form-label required"><h5>Đơn vị chủ quản</h5></label>
                            <input class="form-control" type="text" id="newRoadworkOwner" name="newRoadworkOwner" placeholder="Sở GTVT" (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['ownerBy']" />
                            <div class="ui pointing red basic label" *ngIf="error?.ownerBy"> {{error.ownerBy}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkPerformBy" class="form-label required"><h5>Đơn vị thi công</h5></label>
                            <input class="form-control" type="text" id="newRoadworkPerformBy" name="newRoadworkPerformBy" placeholder="Công ty..." (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['performBy']" />
                            <div class="ui pointing red basic label" *ngIf="error?.performBy"> {{error.performBy}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkDist" class="form-label required"><h5>Quận</h5></label>
                            <select place class="form-select" id="newRoadworkDist" name="newRoadworkDist" (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['dist']">
                                <option value="" selected disabled hidden>Hãy chọn quận</option>
                                <option *ngFor="let item of districtList" value="{{item.district}}">{{item.district}}</option>
                            </select>    
                            <div class="ui pointing red basic label" *ngIf="error?.dist"> {{error.dist}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkRoad" class="form-label required"><h5>Đường thực hiện</h5></label>
                            <input class="form-control" type="text" id="newRoadworkRoad" name="newRoadworkRoad" placeholder="Đường Nguyễn Huệ" (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['road']" />
                            <div class="ui pointing red basic label" *ngIf="error?.road"> {{error.road}} </div>
                        </div>
                    </div>
                </div>

                <h3>Thông tin trên bản đồ</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="newRoadworkTmpLocation" class="form-label required"><h5>Vị trí</h5></label>
                            <div class="input-group">                                      
                                <input type="text" class="form-control" id="newRoadworkTmpLocation" name="newRoadworkTmpLocation" readonly placeholder="Chọn vị trí trên bản đồ" aria-describedby="buttonGetposition" [(ngModel)]="newRoadwork['tmpLocation']">
                                <button class="btn btn-secondary" type="button" id="buttonGetposition" (click)="getPosition()"><i class="selected radio icon"></i>Lấy vị trí hiện tại</button>
                                <div class="ui pointing red basic label" *ngIf="error?.tmpLocation"> {{error.tmpLocation}} </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h3>Thông tin chi tiết</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="newRoadworkType" class="form-label required"><h5>Loại thi công</h5></label>
                            <select place class="form-select" id="newRoadworkType" name="newRoadworkType" (change)="changeType()" [(ngModel)]="newRoadwork['type']">
                                <option value="" selected disabled hidden>Hãy chọn loại thi công</option>
                                <option *ngFor="let item of typeList" value="{{item}}">{{item}}</option>
                            </select>    
                            <div class="ui pointing red basic label" *ngIf="error?.type"> {{error.type}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkStatus" class="form-label required"><h5>Tình trạng</h5></label>
                            <select place class="form-select" id="newRoadworkStatus" name="newRoadworkStatus" (change)="changeStatus()" [(ngModel)]="newRoadwork['status']">
                                <option value="" selected disabled hidden>Hãy chọn tình trạng</option>
                                <option *ngFor="let item of statusList" value="{{item}}">{{item}}</option>
                            </select>    
                            <div class="ui pointing red basic label" *ngIf="error?.status"> {{error.status}} </div>
                        </div>


                        <div class="mb-3">
                            <label for="newRoadworkStartAt" class="form-label required"><h5>Ngày bắt đầu</h5></label>
                            <input class="form-control" type="date" id="newRoadworkStartAt" name="newRoadworkStartAt" (change)="inputChangeMethod()" [ngModel]="newRoadwork['startAt'] | date:'yyyy-MM-dd'" (ngModelChange)="newRoadwork['startAt'] = $event" />
                            <div class="ui pointing red basic label" *ngIf="error?.startAt"> {{error.startAt}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkFinishPlan" class="form-label required"><h5>Ngày kết thúc dự kiến</h5></label>
                            <input class="form-control" type="date" id="newRoadworkFinishPlan" name="newRoadworkFinishPlan" (change)="inputChangeMethod()" [ngModel]="newRoadwork['finishPlan'] | date:'yyyy-MM-dd'" (ngModelChange)="newRoadwork['finishPlan'] = $event"/>
                            <div class="ui pointing red basic label" *ngIf="error?.finishPlan"> {{error.finishPlan}} </div>
                        </div>

                        <div class="mb-3" *ngIf="newRoadwork.status === 'Đã hoàn thành'">
                            <label for="newRoadworkFinishAt" class="form-label required"><h5>Ngày kết thúc thực tế</h5></label>
                            <input class="form-control" type="date" id="newRoadworkFinishAt" name="newRoadworkFinishAt" (change)="inputChangeMethod()" [ngModel]="newRoadwork['finishAt'] | date:'yyyy-MM-dd'" (ngModelChange)="newRoadwork['finishAt'] = $event" />
                            <div class="ui pointing red basic label" *ngIf="error?.finishAt"> {{error.finishAt}} </div>
                        </div>
                    </div>
                </div>

                <h3>Thông tin thêm</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="newRoadworkDesc" class="form-label"><h5>Mô tả</h5></label>
                            <input class="form-control" type="text" id="newRoadworkDesc" name="newRoadworkDesc" (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['description']"  placeholder="Trung tâm quản lý hầm sông Sài Gòn">
                        </div>

                        <div class="mb-3">
                            <label for="newRoadworkNote" class="form-label"><h5>Ghi chú</h5></label>
                            <textarea class="form-control" type="text" id="newRoadworkNote" name="newRoadworkNote" rows="3" (change)="inputChangeMethod()" [(ngModel)]="newRoadwork['note']"  placeholder="Kết nối tốt, ổn định"></textarea>
                        </div>
                    </div>
                </div>  

                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-success" *ngIf="isCreate" type="button" [disabled]="!roadworkForm.valid" (click)="save(newRoadwork)">{{button.CREATE}}</button>
                        <button class="btn btn-success" *ngIf="!isCreate" type="button" [disabled]="!roadworkForm.valid" (click)="save(newRoadwork)">{{button.UPDATE}}</button>
                    </div>
                    <div class="col-3 text-end">
                        <button *ngIf="!isCreate" class="btn btn-danger" type="button" (click)="deleteRoadwork(newRoadwork)">{{button.REMOVE}}</button>
                    </div>

                    <div class="col-6 text-end">
                        <button class="btn btn-secondary" (click)="back()" type="button">{{button.BACK}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>