<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content"  *ngIf="!group">
                    Quản lý nhóm camera
                </div>
                <div class="content"  *ngIf="group">
                    Thêm mới / Chỉnh sửa nhóm camera
                </div>
            </h2>
        </div>
        <div class="ui secondary segment no-padding" *ngIf="!group">
            <nz-affix [nzTarget]="mapLayoutInfo" class="map-header">
                <div  class="affix-header">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="btn-group">
                                    <button [disabled]="!appCom.checkPermission(['cameras:manage'])" class="btn btn-success" type="button" (click)="createGroup()">
                                        <i class="fa-solid fa-plus"></i>
                                        Thêm
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 p-0">
                                <button class="btn btn-secondary float-end" type="button"  [routerLink]="['/map/cameras']">
                                    Camera
                                </button>                           
                            </div>   
                        </div>
                        <br>
                        <div class="row">
                            <nz-input-group [nzSuffix]="suffixIconFilter">
                                <input type="text" nz-input placeholder="Tìm nhanh" [(ngModel)]="filter"/>
                            </nz-input-group>
                            <ng-template #suffixIconFilter>
                                <i nz-icon><i class="filter icon"></i></i>
                            </ng-template>                                   
                        </div>     
                    </div>
                </div>
            </nz-affix>
        </div>
    </div>
    
    <div class="ui segment" *ngIf="!group">
        <div class="ui middle aligned selection divided list">
            <div class="item" [ngClass]="{active: cameraGroup.isSelected}" *ngFor="let cameraGroup of cameraGroups | searchFilter:filter:['name']" (click)="clickGroup(cameraGroup)">
                <div class="left floated content ">
                    <button class="btn btn-primary" (click)="editGroup(cameraGroup);" data-tooltip="Chỉnh sửa nhóm camera" data-position="top left"><i class="fa-solid fa-pen-to-square"></i> </button>
                </div>
                <div class="right floated content ">
                    <span class="ui horizontal label"> {{cameraGroupCounts[cameraGroup._id]?.length || 0}} </span>
                </div>
                <div class="content">
                    <span class="header">{{cameraGroup.name}}</span>
                    <span>{{cameraGroup.description}}</span>
                </div>
            </div>

            <h4 class="ui center aligned header" *ngIf="cameraGroups?.length <= 0">
                <div class="content">
                    Không có nhóm camera nào
                </div>
            </h4>
        </div>
    </div>

    <div class="ui segment" *ngIf="group">
        <form name="cameraGroupForm" #cameraGroupForm="ngForm">
            <div class="container">
                <h3>Thông tin nhóm</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="groupName" class="form-label required"><h5>Tên nhóm</h5></label>
                            <input class="form-control" id="groupName" name="groupName" placeholder="Tên nhóm camera" (change)="inputChangeMethod()" [(ngModel)]="group['name']">
                            <div class="ui pointing red basic label" *ngIf="error['name']"> {{error.name}} </div>
                        </div>

                        <div class="mb-3">
                            <label for="groupDesc" class="form-label"><h5>Mô tả</h5></label>
                            <textarea class="form-control" type="text" id="groupDesc" name="groupDesc" rows="5" (change)="inputChangeMethod()" [(ngModel)]="group['description']"  placeholder="Nhóm camera này..."></textarea>
                        </div>
                    </div>
                </div>

                <h3>Danh sách camera trong nhóm</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ui fluid search selection dropdown">
                            <i class="dropdown icon"></i>
                            <div class="default text">Chọn camera để thêm. Gõ để tìm kiếm</div>
                            <div class="menu">
                                <div class="item" (click)="addCamera(camera)" *ngFor="let camera of availableCameras | orderBy:['id']">
                                    <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock': 'lock'"></i>
                                    <span class="content"> {{[camera.id, camera.name].join(' - ')}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="ui middle aligned selection divided list">
                            <div class="item" *ngFor="let camera of group.cameras" (click)="clickCamera(camera)">
                                <div class="right floated content ">
                                    <button class="ui mini icon button" (click)="removeCamera(camera)"><i class="minus icon"></i></button>
                                </div>

                                <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock': 'lock'"></i>
                                <div class="content"> {{[camera.id, camera.name].join(' - ')}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                    
                        <div class="ui negative icon message"  *ngIf="isRemoving">
                            <i class="warning icon"></i>
                            <div class="header">
                                Bạn chắc chắn muôn xóa nhóm camera này?
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-end">
                                        <button class="btn btn-danger mx-1" type="button" (click)="confirmRemove(group)">Xóa</button>
                                        <button class="btn btn-secondary mx-1" type="button" (click)="abortRemove()">Hủy</button>
                                    </div>
                                </div>                                     
                            </div>                                      
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-success" type="button" *ngIf="isCreate" [disabled]="!cameraGroupForm.valid || !appCom.checkPermission(['cameras:update'])" (click)="submit(group)">{{button.CREATE}}</button>
                        <button class="btn btn-success" type="button" *ngIf="!isCreate" [disabled]="!cameraGroupForm.valid || !appCom.checkPermission(['cameras:update'])" (click)="submit(group)">{{button.UPDATE}}</button>
                    </div>
                    <div class="col-3 text-end">
                        <button *ngIf="!isCreate" class="btn btn-danger" type="button" [disabled]="isRemoving || !appCom.checkPermission(['cameras:manage'])" (click)="remove()">{{button.REMOVE}}</button>
                    </div>

                    <div class="col-6 text-end">
                        <button class="btn btn-secondary" (click)="cancel()" type="button">{{button.BACK}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>