<div class="field-item" style="margin-top: 10px;">
    <label class="label">Thời gian cập nhật cảnh báo <small> (1 giây - 60 giây)</small></label>
    <input class="input" style="margin-left: 30px;" name="email" type="number" id="email" placeholder="34">
    <label class="label" style="margin-left: 10px">giây</label>
</div>
<label class="label">Giọng đọc cảnh báo</label>
<div class="field-label label" style="margin-left: 20px;">
    <input type="checkbox">
    <label style="margin-left: 10px;"> Nam </label>
</div>
<div class="field-label label">
    <input type="checkbox">
    <label style="margin-left: 10px;"> Nữ </label>
</div>
<div class="field-label label">
    <input type="checkbox">
    <label style="margin-left: 10px;"> Cả hai </label>
</div>
<br>
<label class="label">Cấu hình tên gọi và màu cho từng khoảng vận tốc</label>
<br>
<!-- <div class="field-label label" style="z-index: 900;"> -->
    <table class="form-item" style="text-align: center;" >
        <thead>
            <tr>
                <th colSpan="50">Loại</th>
                <th colSpan="50">Màu đại diện</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="50">
                    <div class="field-item" style="margin-top: 24px;">
                        <div class="field-label label">
                            <input class="input-table2" placeholder="Ùn tắc" type="text">
                        </div>
                    </div>
                </td>
                <td colspan="50">
                    
                    <div class="field-item" style="margin-top: 24px;">
                        <div class="field-item">
                            <span class="legend-line-red"></span>
                        

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="50">
                    <div class="field-item">
                        <div class="field-label label">
                            <input class="input-table2" placeholder="Tai nạn" type="text">
                        </div>
                    </div>
                </td>
                <td colspan="50">
                    <div class="field-item">
                        
                            <span class="legend-line-orange"></span>
                     
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="50">
                    <div class="field-item">
                        <div class="field-label label">
                            <input class="input-table2" placeholder="Đông xe" type="text">
                        </div>
                    </div>
                </td>
                <td colspan="50">
                    <div class="field-item">
                        <span class="legend-line-yellow"></span>
                    </div>
                </td>
                        
                        
            </tr>
            <tr>
                <td colspan="50">
                    <div class="field-item">
                        <div class="field-label label">
                            <input class="input-table2" placeholder="Ngập nước" type="text">
                        </div>
                    </div>
                </td>
                <td colspan="50">
                    <div class="field-item">
                                <span class="legend-line-yellow"></span>
                            </div>
                </td>
            </tr>
            <tr>
                <td colspan="50">
                    <div class="field-item">
                        <div class="field-label label">
                            <input class="input-table2" placeholder="Thông thoáng" type="text">
                        </div>
                    </div>
                </td>
                <td colspan="50">
                    <div class="field-item">
                        <span class="legend-line-green"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
<!-- </div> -->
