<div *ngIf="!isEdit">
    <h3 class="ui header center aligned">Thông tin cảnh báo</h3>
    <form class="ui form stis-notice-popup" #popupForm="ngForm">
        <div class="field">
            <select class="ui dropdown" disabled required="required" name="eventType" [(ngModel)]="event['type']">
                <option value="{{type.key}}" hidden="hidden" *ngFor="let type of eventManager.listEventType | keyvalue">{{$any(type.value).name}}</option>
            </select>
        </div>
        <div class="field">
            <input type="text" name="place" disabled placeholder="Vị trí" required [(ngModel)]="event['desc'][0]">
        </div>
        <div class="field">
            <input type="text" name="status" disabled placeholder="Tình trạng" required [(ngModel)]="event['desc'][1]">
        </div>
        <div class="field">
            <textarea placeholder="Thông tin thêm" disabled name="description" [(ngModel)]="event['desc'][2]"
                rows="2"></textarea>
        </div>
        <div class="field"  *ngIf="event['snapshot']">
            <label>Hình ảnh</label>
            <div class="contain-image-event">
                <img src="{{event['snapshot']}}">
            </div>
        </div>
        <div class="field align-button">
            <button class="ui button red" type="button" (click)="closePopup()">Đóng</button>
            <button class="ui button blue" type="button" [disabled]="!popupForm.valid" (click)="openEditor(); $event.stopPropagation()">Cập nhật</button>
        </div>
    </form>
</div>

<div *ngIf="isEdit">
<h3 class="ui header center aligned">Chỉnh sửa cảnh báo</h3>
    <form class="ui form stis-notice-popup" #popupForm="ngForm">
        <div class="field">
            <select class="ui dropdown" required="required" name="eventType" [(ngModel)]="tmpEvent['type']" (change)="chooseTypeEvent(tmpEvent)">
                <option value="{{type.key}}" hidden="hidden" *ngFor="let type of eventManager.listEventType | keyvalue">{{$any(type.value).name}}</option>
            </select>
        </div>
        <div class="field">
            <input type="text" name="place" placeholder="Vị trí" required [(ngModel)]="tmpEvent['desc'][0]" (keyup)="cdRef.detectChanges()">
        </div>
        <div class="field">
            <input type="text" name="status" placeholder="Tình trạng" required [(ngModel)]="tmpEvent['desc'][1]" (keyup)="cdRef.detectChanges()">
        </div>
        <div class="field">
            <textarea placeholder="Thông tin thêm" name="description" [(ngModel)]="tmpEvent['desc'][2]" (keyup)="cdRef.detectChanges()"
                rows="2"></textarea>
        </div>
        <div class="field">
            <label>Hình ảnh</label>
            <div class="contain-image-event" *ngIf="tmpEvent['snapshot']">
                <img [src]="tmpEvent['snapshot']">
                <div class="remove-image-event-icon" (click)="removeEventImage(); $event.stopPropagation()"><i class="trash icon"></i></div>
            </div>
            <input name="image" id="imageUpload" type="file" accept="image/*" (change)="previewImage(tmpEvent)" *ngIf="!tmpEvent['snapshot']">
        </div>
        <div class="field">
            <div><b>*</b> Cầm kéo để thay đổi</div>
        </div>
        <div class="field align-button">
            <button class="ui button red" type="button" (click)="cancelEditor(); $event.stopPropagation()">Hủy</button>
            <button class="ui button blue" type="button" [disabled]="!popupForm.valid" (click)="eventManager.updateEvent(tmpEvent)">Đăng lại</button>
        </div>
    </form>
</div>