<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content">
                    Bãi đỗ xe
                </div>
            </h2>
        </div>
        <div class="ui secondary segment no-padding">
            <nz-affix [nzTarget]="mapLayoutInfo">
                <div  class="affix-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="btn-group">
                                    <button [disabled]="!mapCom.permissions.indexOf('parkings:manage')|| !appCom.roles.indexOf('superadmin')" class="btn btn-success" type="button" [routerLink]="['./create']">
                                        <i class="fa-solid fa-plus"></i>
                                        Thêm
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="btn-group float-end">
            
                                    <button [disabled]="!mapCom.permissions.indexOf('parkings:update')|| !mapCom.permissions.indexOf('parkings:manage')|| !appCom.roles.indexOf('superadmin')" class="btn btn-secondary dropdown" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="cloud download icon"></i>
                                        Xuất dữ liệu
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        
                                        <li><a class="dropdown-item" (click)="exportCSV()"><i class="file outline icon"></i> CSV</a></li>
                                        <li><a class="dropdown-item" (click)="exportXLS()"><i class="file excel outline icon"></i> Excel</a></li>
                                        <li><a class="dropdown-item" (click)="exportJSON()"><i class="file code outline icon"></i> JSON</a></li>
                                    </ul>

                                </div>                                
                            </div>                        
                        </div>
                        <br>
                        <div class="row">
                            <nz-input-group [nzSuffix]="suffixIconFilter">
                                <input type="text" nz-input placeholder="Tìm nhanh" [(ngModel)]="filter"/>
                            </nz-input-group>
                            <ng-template #suffixIconFilter>
                                <i nz-icon><i class="filter icon"></i></i>
                            </ng-template>                                   
                        </div>     
                    </div>
                </div>
            </nz-affix>
        </div>
    </div>

    <div *ngIf="!filter">
        <accordion [isAnimated]="true" [closeOthers]="true">
            <div *ngFor="let district of listdistrict">
                <accordion-group  [isOpen]="district['expand']" (isOpenChange)="selectDistrict($event, district)" panelClass="customClass">
                    <span accordion-heading>{{district[0].dist}}</span>
                
                        <accordion [isAnimated]="true" [closeOthers]="true">
                            <div id="{{parking._id}}" *ngFor="let parking of district">
                                <accordion-group [isOpen]="parking['expand']" (click)="focusToParking(parking)" panelClass="customClass">
                                    <span accordion-heading>{{parking.name}} <span *ngIf="parking.name && parking.addr">-</span> {{parking.addr}}</span>
                              
                                    <div class="container">
                                        <div class="row mb-3" *ngIf="parking['vehicle_type']['car'] || parking['vehicle_type']['bike']">
                                            <div class="col-sm-8">
                                                <h5 class="m-0">Mức giá</h5>
                                                <div *ngIf="parking['vehicle_type']['car']">
                                                    <i class="fa-solid fa-car"></i> Giá từ {{parking['price']['car']['min']}} đến {{parking['price']['car']['max']}}
                                                </div>
                                                <div *ngIf="parking['vehicle_type']['bike']">
                                                    <i class="fa-solid fa-motorcycle"></i> Giá từ {{parking['price']['bike']['min']}} đến {{parking['price']['bike']['max']}}
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <button [disabled]="!mapCom.permissions.indexOf('parkings:update')|| !mapCom.permissions.indexOf('parkings:manage')|| !appCom.roles.indexOf('superadmin')" class="btn btn-primary" [routerLink]="['.', parking._id, 'update']"><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</button>
                                            </div>
                                        </div>
                
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <h5 class="m-0">Thời gian làm việc</h5>
                                                <div  *ngIf="parking?.worktime">
                                                    <i class="fa-solid fa-clock"></i> Từ {{parking.worktime['startWorking']}} đến {{parking.worktime['endWorking']}} giờ
                                                </div>
                                                <div *ngIf="parking?.worktime_details">
                                                    <i class="fa-solid fa-calendar-days"></i> {{parking.price_details}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                            </div>
                        </accordion>
                </accordion-group>
            </div>
        </accordion>
    </div>

    <div class="ui segment" *ngIf="listParking.length == 0">
        <h4 class="ui center aligned header">
            <div class="content" *ngIf="isLoading">
                <nz-spin nzSimple></nz-spin>
                Đang tải...
            </div>
            <div class="content" *ngIf="!isLoading && listParking.length == 0">
                Không có bãi đỗ xe nào
            </div>
        </h4>
    </div>

    <div *ngIf="filter">
        <accordion [isAnimated]="true" [closeOthers]="true">
            <div *ngFor="let parking of listParking | filter:filterCustome:filter">
                <accordion-group (click)="focusToParking(parking)" panelClass="customClass">
                    <span accordion-heading>{{parking.name}} <span *ngIf="parking.name && parking.addr">-</span>{{parking.addr}}</span>

                    <div class="container">
                        <div class="row mb-3" *ngIf="parking['vehicle_type']['car'] || parking['vehicle_type']['bike']">
                            <div class="col-sm-8">
                                <h5 class="m-0">Mức giá</h5>
                                <div *ngIf="parking['vehicle_type']['car']">
                                    <i class="fa-solid fa-car"></i> Giá từ {{parking['price']['car']['min']}} đến {{parking['price']['car']['max']}}
                                </div>
                                <div *ngIf="parking['vehicle_type']['bike']">
                                    <i class="fa-solid fa-motorcycle"></i> Giá từ {{parking['price']['bike']['min']}} đến {{parking['price']['bike']['max']}}
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <button [disabled]="!mapCom.permissions.indexOf('parkings:update')|| !mapCom.permissions.indexOf('parkings:manage')|| !appCom.roles.indexOf('superadmin')" class="btn btn-primary" [routerLink]="['.', parking._id, 'update']"><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <h5 class="m-0">Thời gian làm việc</h5>
                                <div  *ngIf="parking?.worktime">
                                    <i class="fa-solid fa-clock"></i> Từ {{parking.worktime['startWorking']}} đến {{parking.worktime['endWorking']}} giờ
                                </div>
                                <div *ngIf="parking?.worktime_details">
                                    <i class="fa-solid fa-calendar-days"></i> {{parking.price_details}}
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </div>
        </accordion>

        <div class="ui segment"  *ngIf="(listParking | filter:filterCustome:filter).length == 0">
            <h4 class="ui center aligned header">
                <div class="content">
                    Không có tìm thấy bãi đỗ xe trên
                </div>
            </h4>
        </div>
    </div>
</div>