<div class="map-layout">
    <div class="map-leaflet"
        leaflet
        [leafletOptions]="configure.options"
        (leafletMapReady)="initMap($event)">

        <div *ngFor="let marker of markers | keyvalue; trackBy:trackByFn" [leafletLayer]="$any(marker).value"></div>
    </div>

    <div class="map-search">
        <div class="map-search-bar">
            <nz-input-group [nzSuffix]="searchQuery.length > 0 ? suffixIconClose : suffixIconSearch" [nzSize]="'large'">
                <input type="text" nz-input placeholder="Tìm vị trí" [(ngModel)]="searchQuery" appSearchRoads [appSearchRoadsText]="searchQuery" (newListRoads)="searchResults = $event" (isSearch)="isSearch = $event"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
            </ng-template>
            <ng-template #suffixIconClose>
                <i nz-icon nzType="close" (click)="searchIconClick()"></i>
            </ng-template>
    
            <div class="results transition visible" *ngIf="searchResults?.length > 0 && isSearch">
                <ul nz-menu>
                    <li class="map-search-result" nz-menu-item *ngFor="let result of searchResults; index as i" (click)="searchSelect(result)">
                        <b>{{result.properties.name}}</b>
                        <br>
                        {{result.properties.city}}
                    </li>
                </ul>
            </div>
            <div class="results transition visible" *ngIf="searchResults?.length <= 0 && isSearch" style="background-color: white;">
                <ul nz-menu>
                    <li class="map-search-result" nz-menu-item>
                        <b>Không tìm thấy</b>
                        <br>
                        Hãy thử lại
                    </li>
                </ul>
            </div>
        </div>
    </div>


    
    <button class="map-layout-info-button" nz-button nzType="primary" [@mapLayoutInfoButton]="{value: isOpen ? 'open' : 'closed', params: {curWidth: curWidth >= 992 ? '33%':'340px'}}" (click)="toggleLayout()">
        <i nz-icon nzType="{{isOpen ? 'left' : 'right'}}"></i>
    </button>

    <div [@mapLayoutInfo]="{value: isOpen ? 'open' : 'closed', params: {curWidth: curWidth >= 992 ? '-33%':'-340px'}}" class="map-layout-info">
        <router-outlet *ngIf="this.sideMap"></router-outlet>
    </div>
</div>

<nz-modal
      [(nzVisible)]="isShare"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="closeModal()">

      <ng-template #modalTitle>Chia sẻ</ng-template>

      <ng-template #modalContent>
        <p nz-typography nzCopyable [nzContent]="shareLink"></p>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="closeModal()">Đóng</button>
      </ng-template>
</nz-modal>
