<!-- <div class="ui stackable grid full-height management-with-map">
    <div class="sixteen wide mobile  sixteen wide tablet eight wide computer column full-height-with-scroll right-side ">
        <div class="ui segments">
            <div class="ui segment">
                <h2 class="ui teal center aligned icon header">
                    <div class="content">
                        Quản lý camera
                        <div class="sub header">Quản lý các camera giao thông trên địa bàn thành phố</div>
                    </div>
                </h2>
                <div class="ui positive icon message" *ngIf="notice">
                    <i class="check icon"></i>
                    <div class="header">
                        {{notice}}
                    </div>
                </div>
            </div>
            <div class="ui clearing secondary segment">
                <div class="ui floated simple compact dropdown labeled icon button">
                    <i class="cloud download icon"></i>
                    <span class="text">Xuất dữ liệu</span>
                    <div class="menu">
                        <div class="item" (click)="exportCSV()">
                            <i class="file outline icon"></i> CSV
                        </div>
                        <div class="item disabled">
                            <i class="file excel outline icon"></i>Excel
                        </div>
                        <div class="item disabled">
                            <i class="file code outline icon"></i>JSON
                        </div>
                    </div>
                </div>
                <a [href]="objectUrl | safe: 'url'" *ngIf="exported" download="ttgt_camera-giao-thong.csv" [ngClass]="{'loading': !objectUrl, 'disabled': !objectUrl}"
                    class="ui floated compact icon button">
                    <i class="download icon"></i>
                </a>
                <a class="ui right floated compact button" id="btnAddGroupTop" data-tooltip="Quản lý nhóm camera" data-position="top right"
                    [routerLink]="['./groups']" > Nhóm camera</a>
                <a class="ui right floated compact labeled icon button" id="btnAddTop" data-tooltip="Thêm camera mới" data-position="top right"
                    [routerLink]="['./create']">
                    <i class="add icon"></i> Thêm</a>
            </div>
            <div class="ui segment">
                
            </div>
            <accordion [isAnimated]="true" [closeOthers]="true">
                <div *ngIf="!filterText "> 
                    <div *ngFor="let district of districts">
                        <accordion-group [isOpen]="district['expand'] " *ngIf="district.camera">
                            <div accordion-heading>
                                <span>{{district.district}}</span>
                                <span class="pull-right ">
                                    <span title="Chưa có cấu hình " class="badge badge-warning " *ngIf="(district.camera | filter: {snapshotUrl: '!'}).length > 0">{{(district.camera | filter: {snapshotUrl: '!'}).length}} </span>
                                    <span title="Tổng số " class="badge badge-success">{{(district.camera ).length}}</span>
                                </span>
                            </div>

                            <div class="list-group">
                                <div class="ui middle aligned selection divided list ">
                                    <div id="{{camera._id}}" class="item " *ngFor="let camera of district.camera | orderBy: ['id']" (click)="selectCamera(camera) ">
                                        <div class="right floated content ">
                                            <span class="ui horizontal label "> {{camera.type || "Chưa cấu hình"}}</span>
                                        </div>

                                        <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock':'lock' "></i>
                                        <div class="content ">
                                            {{[camera.id, camera.name].join(" - ")}}
                                        </div>
                                        <div class="ui items " *ngIf="selectedCamera?._id === camera._id">
                                            <div class="item ">
                                                <div class="ui small image ">
                                                    <img *ngIf="camera.liveviewUrl" (error)="imageError($event)"
                                                        class="ui image " src="{{camera.liveviewUrl}}"/>
                                                    <img *ngIf="!camera.liveviewUrl" class="ui image " src="//dummyimage.com/600x400/000/fff%26text%3DCh%C6%B0a%20c%C3%B3%20th%C3%B4ng%20tin%20c%E1%BA%A5u%20h%C3%ACnh"/>
                                                </div>
                                                <div class="content">
                                                    <div class="header">{{camera.id}}</div>
                                                    <div class="description ">
                                                        <p *ngIf="camera?.name "><strong>Tên: </strong> {{camera.name}}</p>
                                                        <p *ngIf="camera?.type "><strong>Loại: </strong> {{camera.type}}</p>
                                                        <p *ngIf="camera?.values?.server "><strong>Server: </strong> {{camera.values.server}}</p>
                                                        <p *ngIf="camera?.values?.camid "><strong>CamID: </strong> {{camera.values.camid}}</p>
                                                        <p *ngIf="camera?.values?.ip "><strong>IP: </strong> {{camera.values.ip}}</p>
                                                        <p *ngIf="camera?.values?.channel "><strong>Channel: </strong> {{camera.values.channel}}</p>
                                                    </div>
                                                    <div class="extra ">
                                                        <a class="ui right floated small primary basic button " [routerLink]="['.', camera._id, 'update']">
                                                            <i class="write icon "></i> Chỉnh sửa
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </div>
                </div>
                <div *ngIf="filterText ">
                    <div class="ui middle aligned selection divided list ">
                        <div id="{{camera._id}}" class="item" *ngFor="let camera of (cameras | orderBy:['id'] | filter:filterCustome:filterText)" (click)="selectCamera(camera)">                       
                            <div class="right floated content ">
                                <span class="ui horizontal label ">{{camera.type || "Chưa cấu hình"}}</span>
                            </div>

                            <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock': 'lock' "></i>
                            <div class="content ">
                                {{[camera.id, camera.name].join(" - ")}}
                            </div>
                            <div class="ui items " *ngIf="selectedCamera._id === camera._id">
                                <div class="item ">
                                    <div class="ui small image ">
                                        <img *ngIf="camera.liveviewUrl" onerror="this.src = '//dummyimage.com/600x400/000/fff&text=Kh%C3%B4ng%20c%C3%B3%20k%E1%BA%BFt%20n%E1%BB%91i'"
                                            class="ui image " src="{{camera.liveviewUrl}}"/>
                                        <img *ngIf="!camera.liveviewUrl" class="ui image " src="//dummyimage.com/600x400/000/fff%26text%3DCh%C6%B0a%20c%C3%B3%20th%C3%B4ng%20tin%20c%E1%BA%A5u%20h%C3%ACnh "
                                        />
                                    </div>
                                    <div class="content ">
                                        <div class="header" >{{camera.id}}</div>
                                        <div class="description ">
                                            <p *ngIf="camera.name "><strong>Tên: </strong> {{camera.name}}</p>
                                            <p *ngIf="camera.type "><strong>Loại: </strong> {{camera.type}}</p>
                                            <p *ngIf="camera.values.server "><strong>Server: </strong> {{camera.values.server}}</p>
                                            <p *ngIf="camera.values.camid "><strong>CamID: </strong> {{camera.values.camid}}</p>
                                            <p *ngIf="camera.values.ip "><strong>IP: </strong> {{camera.values.ip}}</p>
                                            <p *ngIf="camera.values.channel "><strong>Channel: </strong> {{camera.values.channel}}</p>
                                        </div>
                                        <div class="extra ">
                                            <a class="ui right floated small primary basic button " [routerLink]="['.', camera._id, 'update']">
                                                <i class="write icon "></i> Chỉnh sửa
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion>
            <div class="ui right aligned clearing secondary segment">
                <a class="ui compact labeled icon button" id="btnAddBottom" data-tooltip="Thêm camera mới" data-position="top right" [routerLink]="['./create']">
                    <i class="add icon"></i> Thêm</a>
                <a class="ui compact button" id="btnAddGroupBottom" data-tooltip="Quản lý nhóm camera" data-position="top right" [routerLink]="['./groups']"> Nhóm camera</a>
            </div>
        </div>
    </div>
</div> -->

<div class="map-layout">
    <div class="map-leaflet"
        leaflet
        [leafletOptions]="configure.options"
        (leafletMapReady)="initMap($event)">
    </div>

    <div class="map-search">
        <div class="map-search-bar">
            <nz-input-group [nzSuffix]="searchQuery.length > 0 ? suffixIconClose : suffixIconSearch" [nzSize]="'large'">
                <input type="text" nz-input placeholder="Tìm vị trí" [(ngModel)]="searchQuery" appSearchRoads [appSearchRoadsText]="searchQuery" (newListRoads)="searchResults = $event" (isSearch)="isSearch = $event"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
            </ng-template>
            <ng-template #suffixIconClose>
                <i nz-icon nzType="close" (click)="searchIconClick()"></i>
            </ng-template>
    
            <div class="results transition visible" *ngIf="searchResults?.length > 0 && isSearch">
                <ul nz-menu>
                    <li class="map-search-result" nz-menu-item *ngFor="let result of searchResults; index as i" (click)="searchSelect(result)">
                        <b>{{result.properties.name}}</b>
                        <br>
                        {{result.properties.city}}
                    </li>
                </ul>
            </div>
            <div class="results transition visible" *ngIf="searchResults?.length <= 0 && isSearch" style="background-color: white;">
                <a class="result">
                    <div class="content">
                        <div class="title">Không tìm thấy</div>
                        <div class="description">Hãy thử lại</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button class="map-layout-info-button" nz-button nzType="primary" [@mapLayoutInfoButton]="isOpen ? 'open' : 'closed'" (click)="toggleLayoutInfo()">
        <i nz-icon nzType="{{isOpen ? 'right' : 'left'}}"></i>
    </button>

    <div [@mapLayoutInfo]="isOpen ? 'open' : 'closed'" class="map-layout-info-right">
        <div class="map-layout-info-content" #mapLayoutInfo>
            <div class="ui segments">
                <div class="ui segment">
                    <h2 class="ui center aligned header">
                        <div class="content">
                            Camera Giao Thông
                        </div>
                    </h2>
                </div>
                <div class="ui secondary segment no-padding">
                    <nz-affix [nzTarget]="mapLayoutInfo">
                        <div  class="affix-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 p-0">
                                        <div class="btn-group">
                                            <button class="btn btn-success" type="button" [routerLink]="['./create']">
                                                <i class="fa-solid fa-plus"></i>
                                                Thêm
                                            </button>
                                            <button class="btn btn-primary" type="button" [routerLink]="['./groups']">
                                                Nhóm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 p-0">
                                        <div class="btn-group float-end">
                    
                                            <button class="btn btn-secondary dropdown" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="cloud download icon"></i>
                                                Xuất dữ liệu
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file outline icon"></i> CSV</a></li>
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file excel outline icon"></i> Excel</a></li>
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file code outline icon"></i> JSON</a></li>
                                            </ul>
                        
                                            <a class="btn btn-secondary" [href]="objectUrl | safe: 'url'" download="ttgt_camera-giao-thong.csv" [ngClass]="{'loading': !objectUrl, 'disabled': !objectUrl}">
                                                <i class="download icon"></i>
                                            </a>
                                        </div>
                                        
                                    </div>                        
                                </div>
                                <br>
                                <div class="row">
                                    <nz-input-group [nzSuffix]="suffixIconFilter">
                                        <input type="text" nz-input placeholder="Tìm nhanh" (keyup)="filterChange()" [(ngModel)]="filterText"/>
                                    </nz-input-group>
                                    <ng-template #suffixIconFilter>
                                        <i nz-icon><i class="filter icon"></i></i>
                                    </ng-template>                                   
                                </div>     
                            </div>
                        </div>
                    </nz-affix>
                </div>
            </div>

            <div class="ui segment" *ngIf="cameras.length == 0">
                <h4 class="ui center aligned header">
                    <div class="content" *ngIf="isLoading">
                        <nz-spin nzSimple></nz-spin>
                        Đang tải...
                    </div>
                    <div class="content" *ngIf="!isLoading && cameras.length == 0">
                        Không có camera nào
                    </div>
                </h4>
            </div>

            <accordion [isAnimated]="true" [closeOthers]="true">
                <div *ngIf="!filterText "> 
                    <div *ngFor="let district of districts">
                        <accordion-group [isOpen]="district['expand'] " *ngIf="district.camera" panelClass="customClass">
                            <div accordion-heading>
                                <span>{{district.district}}</span>
                            </div>

                            <div class="list-group">
                                <div class="ui middle aligned selection divided list ">
                                    <div id="{{camera._id}}" class="item " *ngFor="let camera of district.camera | orderBy: ['id']" (click)="selectCamera(camera) ">
                                        <div class="right floated content ">
                                            <span class="ui horizontal label "> {{camera.type || "Chưa cấu hình"}}</span>
                                        </div>

                                        <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock':'lock' "></i>
                                        <div class="content ">
                                            {{[camera.id, camera.name].join(" - ")}}
                                        </div>
                                        <div class="ui items " *ngIf="selectedCamera?._id === camera._id">
                                            <div class="item ">
                                                <div class="ui small image ">
                                                    <img *ngIf="camera.liveviewUrl" (error)="imageError($event)"
                                                        class="ui image " src="{{camera.liveviewUrl}}"/>
                                                    <img *ngIf="!camera.liveviewUrl" class="ui image " src="//dummyimage.com/600x400/000/fff%26text%3DCh%C6%B0a%20c%C3%B3%20th%C3%B4ng%20tin%20c%E1%BA%A5u%20h%C3%ACnh"/>
                                                </div>
                                                <div class="content">
                                                    <div class="header">{{camera.id}}</div>
                                                    <div class="description ">
                                                        <p *ngIf="camera?.name "><strong>Tên: </strong> {{camera.name}}</p>
                                                        <p *ngIf="camera?.type "><strong>Loại: </strong> {{camera.type}}</p>
                                                        <p *ngIf="camera?.values?.server "><strong>Server: </strong> {{camera.values.server}}</p>
                                                        <p *ngIf="camera?.values?.camid "><strong>CamID: </strong> {{camera.values.camid}}</p>
                                                        <p *ngIf="camera?.values?.ip "><strong>IP: </strong> {{camera.values.ip}}</p>
                                                        <p *ngIf="camera?.values?.channel "><strong>Channel: </strong> {{camera.values.channel}}</p>
                                                    </div>
                                                    <div class="extra ">
                                                        <a class="ui right floated small primary basic button " [routerLink]="['.', camera._id, 'update']">
                                                            <i class="write icon "></i> Chỉnh sửa
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </div>
                </div>
                <div *ngIf="filterText ">
                    <div class="ui middle aligned selection divided list ">
                        <div id="{{camera._id}}" class="item" *ngFor="let camera of (cameras | orderBy:['id'] | filter:filterCustome:filterText)" (click)="selectCamera(camera)">                       
                            <div class="right floated content ">
                                <span class="ui horizontal label ">{{camera.type || "Chưa cấu hình"}}</span>
                            </div>

                            <i class="large lock middle aligned icon " [ngClass]="(camera.publish)? 'unlock': 'lock' "></i>
                            <div class="content ">
                                {{[camera.id, camera.name].join(" - ")}}
                            </div>
                            <div class="ui items " *ngIf="selectedCamera?._id === camera._id">
                                <div class="item ">
                                    <div class="ui small image ">
                                        <img *ngIf="camera.liveviewUrl" onerror="this.src = '//dummyimage.com/600x400/000/fff&text=Kh%C3%B4ng%20c%C3%B3%20k%E1%BA%BFt%20n%E1%BB%91i'"
                                            class="ui image " src="{{camera.liveviewUrl}}"/>
                                        <img *ngIf="!camera.liveviewUrl" class="ui image " src="//dummyimage.com/600x400/000/fff%26text%3DCh%C6%B0a%20c%C3%B3%20th%C3%B4ng%20tin%20c%E1%BA%A5u%20h%C3%ACnh "
                                        />
                                    </div>
                                    <div class="content ">
                                        <div class="header" >{{camera.id}}</div>
                                        <div class="description ">
                                            <p *ngIf="camera.name "><strong>Tên: </strong> {{camera.name}}</p>
                                            <p *ngIf="camera.type "><strong>Loại: </strong> {{camera.type}}</p>
                                            <p *ngIf="camera?.values?.server "><strong>Server: </strong> {{camera.values.server}}</p>
                                            <p *ngIf="camera?.values?.camid "><strong>CamID: </strong> {{camera.values.camid}}</p>
                                            <p *ngIf="camera?.values?.ip "><strong>IP: </strong> {{camera.values.ip}}</p>
                                            <p *ngIf="camera?.values?.channel "><strong>Channel: </strong> {{camera.values.channel}}</p>
                                        </div>
                                        <div class="extra ">
                                            <a class="ui right floated small primary basic button " [routerLink]="['.', camera._id, 'update']">
                                                <i class="write icon "></i> Chỉnh sửa
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion>
        </div>
    </div>
</div>