<div class="navbar-holder">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light position-absolute">
    <div class="container-fluid">
      
      <!-- <img class="navbar-brand" alt="Brand" src="assets/images/localize/logo.png" height="40px" /> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-start">
          <li class="nav-item" [ngClass]="{'active': isActive('/home')}">
            <a class="nav-link" aria-current="page" [routerLink]="['/home']" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Giới thiệu</a>
          </li>
          <li class="nav-item" *ngIf="roles.includes('superadmin') || roles.includes('admin') && appCom.checkPermission(['cameras:read','parkings:read','roadevents:read','roadworks:read','staticmaps:read','trafficevents:read'])" [ngClass]="{'active': isActive('/map')}">
            <a class="nav-link" [routerLink]="['/map']" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Bản đồ</a>
          </li>
          <li class="nav-item dropdown" *ngIf="roles.includes('superadmin')|| roles.includes('admin') && appCom.checkPermission(['cameras:read','parkings:read','roadevents:read','roadworks:read','staticmaps:read','trafficevents:read'])" [ngClass]="{'active': isActiveList(['/map/events', '/map/cameras', '/map/roadworks', '/map/parkings', '/map/roadevents', '/map/staticmaps'])}">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản lý
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngIf="appCom.checkPermission(['trafficevents:read'])">
                <a class="dropdown-item" [routerLink]="['/map/events']" [ngClass]="{'active': isActive('/map/events')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Cảnh báo giao thông</a>
              </li>
              <li *ngIf="appCom.checkPermission(['cameras:read'])">
                <a class="dropdown-item" [routerLink]="['/map/cameras']" [ngClass]="{'active': isActive('/map/cameras')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Camera giao thông</a>
              </li>
              <li *ngIf="appCom.checkPermission(['roadworks:read'])">
                <a class="dropdown-item" [routerLink]="['/map/roadworks']" [ngClass]="{'active': isActive('/map/roadworks')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Công trình thi công</a>
              </li>
              <li *ngIf="appCom.checkPermission(['parkings:read'])">
                <a class="dropdown-item" [routerLink]="['/map/parkings']" [ngClass]="{'active': isActive('/map/parkings')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Bãi đỗ xe</a>
              </li>
              <nz-divider class="ant-divider-inner-text" nzPlain nzText="Thông tin"></nz-divider>
              <li *ngIf="appCom.checkPermission(['roadevents:read'])">
                <a class="dropdown-item" [routerLink]="['/map/roadevents']" [ngClass]="{'active': isActive('/map/roadevents')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Phân luồng giao thông</a>
              </li>
              <li *ngIf="appCom.checkPermission(['staticmaps:read'])">
                <a class="dropdown-item" [routerLink]="['/map/staticmaps']" [ngClass]="{'active': isActive('/map/staticmaps')}" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Lớp thông tin tĩnh</a>
              </li>
            </ul>
            
          </li>
          <li class="nav-item dropdown" *ngIf="roles.includes('superadmin') || roles.includes('admin') && appCom.checkPermission(['settings:update','settings:manage'])" [ngClass]="{'active': isActiveList(['/config/*', '/users', '/groups'])}">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quản trị
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngIf="appCom.checkPermission(['settings:update'])">
                <a class="dropdown-item"  [ngClass]="{'active': isActive('/config')}" [routerLink]="['/config']" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Cấu hình</a>
              </li>
              <li *ngIf="appCom.checkPermission(['settings:manage'])">
                <a class="dropdown-item"  [ngClass]="{'active': isActive('/users')}" [routerLink]="['/users']" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Người dùng</a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item dropdown" *ngIf="roles.includes('superadmin') || roles.includes('admin') || appCom.checkPermission(['trafficevents:read'])" [ngClass]="{'active': isActiveList(['/map/events/stats'])}">
            <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thống kê
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" [ngClass]="{'active': isActive('/map/events/stats')}" [routerLink]="['/map/events/stats']" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Thống kê cảnh báo</a>
              </li>
            </ul>
          </li>
          
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto justify-content-end">
          <li class="nav-item" *ngIf="!appCom.profile">
            <a class="nav-link" aria-current="page" (click)="login()">Đăng nhập</a>
          </li>
          <li class="nav-item dropdown" *ngIf="appCom.profile">
            <a class="nav-link dropdown" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img nz-image class="rounded-circle profile-image" [nzSrc]="appCom.profile['picture']">
              <span>{{appCom.profile['nickname']}}</span> <span class="caret"></span>
            </a>
  
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
