<!-- <nz-header nzTheme="dark">
    <ul nz-menu nzMode="horizontal" > -->
        <!-- <li nz-menu>
          <img nz-image nzSrc="assets/images/localize/logo.png" height="40px" width="50px">
        </li> -->
        <!-- <li  nz-submenu nzTitle="Giới thiệu"></li>
        <li  nz-submenu nzTitle="Bản đồ" [routerLink]="['/map']"></li>
        <li nz-submenu nzTitle="Quản lý" >
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/events']">Cảnh báo giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/cameras']">Camera giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/roadworks']">Công trình thi công</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/parkings']">Bãi đỗ xe</a>
            </li>
            <nz-divider class="ant-divider-inner-text" nzPlain nzText="Thông tin"></nz-divider>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/roadevents']">Phân luồng giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/staticmaps']">Lớp thông tin tĩnh</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Quản trị">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/admin']">Cấu hình</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Tài khoản</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Nhóm tài khoản</a>
            </li>
          </ul>
        </li>
        <li  nz-submenu nzTitle ="Cảnh báo giao thông" [routerLink]="['/events/stats']">
        </li>
        <li nz-menu-item  style="float: right;">
          <img *ngIf="appCom.profile" height="32px" width="32px" style="border-radius: 20px;" nz-image [nzSrc]="appCom.profile['picture']">
          <a nz-dropdown [nzDropdownMenu]="menu">{{!appCom.profile ? 'Đăng nhập' : appCom.profile['nickname']}}</a>
        </li>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngIf="!appCom.profile" (click)="login()">Đăng nhập</li>

            <li nz-menu-item *ngIf="appCom.profile" (click)="logout()">Thoát</li>
          </ul>
        </nz-dropdown-menu> -->
        
    <!-- </ul>
</nz-header> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    
    <img class="navbar-brand" alt="Brand" src="assets/images/localize/logo.png" height="40px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-start">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive('/map')}">
          <a class="nav-link" [routerLink]="['/map']">Bản đồ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/events']">Cảnh báo giao thông</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/cameras']">Camera giao thông</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/roadworks']">Công trình thi công</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/parkings']">Bãi đỗ xe</a>
            </li>
            <nz-divider class="ant-divider-inner-text" nzPlain nzText="Thông tin"></nz-divider>
            <li>
              <a class="dropdown-item" [routerLink]="['/roadevents']">Phân luồng giao thông</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/staticmaps']">Lớp thông tin tĩnh</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản trị
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/config']">Cấu hình</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/cameras']">Người dùng</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/roadworks']">Nhóm người dùng</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thống kê
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/events/stats']">Cảnh báo giao thông</a>
            </li>
          </ul>
        </li>
        
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto justify-content-end">
        <li class="nav-item" *ngIf="!appCom.profile">
          <a class="nav-link" aria-current="page" (click)="login()">Đăng nhập</a>
        </li>
        <li class="nav-item dropdown" *ngIf="appCom.profile">
          <a class="nav-link dropdown" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="rounded-circle profile-image" [src]="appCom.profile['picture']">
            <span>{{appCom.profile['nickname']}}</span> <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li>
              <a class="dropdown-item" (click)="logout()">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
