<nz-header nzTheme="dark">
    
    <ul nz-menu nzMode="horizontal" >
        <!-- <li nz-menu>
          <img nz-image nzSrc="assets/images/localize/logo.png" height="40px" width="50px">
        </li> -->
        <li  nz-submenu nzTitle ="Giới thiệu">
          <a>Giới thiệu</a>
        </li>
        <li  nz-submenu nzTitle ="Bản đồ">
          <a>Bản đồ</a>
        </li>
        <li nz-submenu nzTitle="Quản lý">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="">Cảnh báo giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Camera giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Công trình thi công</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Bãi đỗ xe</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Phân luồng giao thông</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Lớp thông tin tĩnh</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Quản trị">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Cấu hình</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Tài khoản</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Nhóm tài khoản</a>
            </li>
          </ul>
        </li>
        <li  nz-submenu nzTitle ="Cảnh báo giao thông">
        </li>
        <!-- <li  nz-submenu nzTitle ="Thoát">
          <a (click)="logout()">Thoát</a>
        </li> -->
        <li *ngIf="!appCom.profile" style="float: right;" nz-submenu nzTitle="Đăng nhập" >
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a (click)="login()">Đăng nhập</a>
              </li>
            </ul>
        </li>

        <li *ngIf="appCom.profile"  style="float: right;" nz-submenu>
          <a >
              <img nz-image [nzSrc]="appCom.profile['picture']">
          </a>
          <ul>
        <li><a (click)="logout()">Thoát</a></li>
      </ul>
        </li>

        
        <a nz-dropdown [nzDropdownMenu]="menu">Hover me</a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-item>3rd menu item</li>
          </ul>
        </nz-dropdown-menu>
    </ul>
</nz-header>
 