.ant-layout-header {
    height: 64px !important;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0.85) !important;
    line-height: 64px !important;
    background: rgb(32, 105, 241) !important;
}


.ant-menu {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    font-variant: tabular-nums !important;
    /* line-height: 1.5715; */
    font-feature-settings: 'tnum', "tnum" !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    color: rgba(0, 0, 0, 0.85) !important;
    font-size: 14px !important;
    /* line-height: 0; */
    text-align: left !important;
    list-style: none !important;
    background: none !important;
    outline: none !important;
    /* box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%); */
    transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s !important;
}