@media (min-width:992px) {
    ::ng-deep .map-header > .ant-affix {
        left: auto !important;
        width: calc(33% - 17px) !important;
    }
}

@media (max-width:992px) {
    ::ng-deep .map-header > .ant-affix {
        left: auto !important;
        width: 323px !important;
    }
}