<div class="map-layout">
    <div class="map-leaflet"
        leaflet
        [leafletOptions]="configure.options"
        (leafletMapReady)="initMap($event)">
    </div>

    <div class="map-search">
        <div class="map-search-bar">
            <nz-input-group [nzSuffix]="searchQuery.length > 0 ? suffixIconClose : suffixIconSearch" [nzSize]="'large'">
                <input type="text" nz-input placeholder="Tìm vị trí" [(ngModel)]="searchQuery" appSearchRoads [appSearchRoadsText]="searchQuery" (newListRoads)="searchResults = $event" (isSearch)="isSearch = $event"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
            </ng-template>
            <ng-template #suffixIconClose>
                <i nz-icon nzType="close" (click)="searchIconClick()"></i>
            </ng-template>
    
            <div class="results transition visible" *ngIf="searchResults?.length > 0 && isSearch">
                <ul nz-menu>
                    <li class="map-search-result" nz-menu-item *ngFor="let result of searchResults; index as i" (click)="searchSelect(result)">
                        <b>{{result.properties.name}}</b>
                        <br>
                        {{result.properties.city}}
                    </li>
                </ul>
            </div>
            <div class="results transition visible" *ngIf="searchResults?.length <= 0 && isSearch" style="background-color: white;">
                <a class="result">
                    <div class="content">
                        <div class="title">Không tìm thấy</div>
                        <div class="description">Hãy thử lại</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button class="map-layout-info-button" nz-button nzType="primary" [@mapLayoutInfoButton]="isOpen ? 'open' : 'closed'" (click)="toggleLayoutInfo()">
        <i nz-icon nzType="{{isOpen ? 'right' : 'left'}}"></i>
    </button>

    <div [@mapLayoutInfo]="isOpen ? 'open' : 'closed'" class="map-layout-info-right">
        <div class="map-layout-info-content" #mapLayoutInfo>
            <div class="ui segments">
                <div class="ui segment">
                    <h2 class="ui center aligned header">
                        <div class="content">
                            Công trình thi công
                        </div>
                    </h2>
                </div>
                <div class="ui secondary segment no-padding">
                    <nz-affix [nzTarget]="mapLayoutInfo">
                        <div  class="affix-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 p-0">
                                        <div class="btn-group">
                                            <button class="btn btn-success" type="button" [routerLink]="['./create']">
                                                <i class="fa-solid fa-plus"></i>
                                                Thêm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 p-0">
                                        <div class="btn-group float-end">
                    
                                            <button class="btn btn-secondary dropdown" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="cloud download icon"></i>
                                                Xuất dữ liệu
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file outline icon"></i> CSV</a></li>
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file excel outline icon"></i> Excel</a></li>
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file code outline icon"></i> JSON</a></li>
                                            </ul>
   
                                            <a class="btn btn-secondary" [href]="objectUrl | safe: 'url'" download="ttgt_camera-giao-thong.csv" [ngClass]="{'loading': !objectUrl, 'disabled': !objectUrl}">
                                                <i class="download icon"></i>
                                            </a>
                                        </div>
                                        
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </nz-affix>
                </div>
            </div>
                <!-- <div class="ui clearing secondary segment">
                    <div class="ui floated simple compact dropdown labeled icon button">
                        <i class="cloud download icon"></i>
                        <span class="text">Xuất dữ liệu</span>
                        <div class="menu">
                            <div class="item" (click)="exportCSV()">
                                <i class="file outline icon"></i> CSV
                            </div>
                            <div class="item disabled">
                                <i class="file excel outline icon"></i>Excel
                            </div>
                            <div class="item disabled">
                                <i class="file code outline icon"></i>JSON
                            </div>
                        </div>
                    </div>
                    <a [href]="objectUrl | safe: 'url'" *ngIf="exported" download="ttgt_cong-trinh-thi-cong.csv" [ngClass]="{'loading': !objectUrl, 'disabled': !objectUrl}" class="ui floated compact icon button">
                        <i class="download icon"></i>
                    </a>
                    <a class="ui right floated compact labeled icon button" id="btnAddTop" data-tooltip="Thêm công việc mới" data-position="top right" [routerLink]="['./create']">
                        <i class="add icon"></i> Thêm
                    </a>
                </div> -->
    
                <!-- <div class="ui attached blue menu">
                    <div class="item icon-pointer no-animate" [ngClass]="{ 'active': hadFilter('RW_WORKING')}" (click)="selectFilter('RW_WORKING')">
                        <i class="blue play circle icon" title="Đang thực hiện"></i>
                    </div>
                    <div class="item icon-pointer no-animate" [ngClass]="{ 'active': hadFilter('RW_FINISHED')}" (click)="selectFilter('RW_FINISHED')">
                        <i class="green check circle icon" title="Đã hoàn thành"></i>
                    </div>
                    <div class="item icon-pointer no-animate" [ngClass]="{ 'active': hadFilter('RW_PLANNING')}" (click)="selectFilter('RW_PLANNING')">
                        <i class="yellow alarm icon" title="Kế hoạch"></i>
                    </div>
                    <div class="item icon-pointer no-animate" [ngClass]="{ 'active': hadFilter('RW_EXPIRING')}" (click)="selectFilter('RW_EXPIRING')">
                        <i class="orange flag icon" title="Sắp hết hạn"></i>
                    </div>
                    <div class="item icon-pointer no-animate" [ngClass]="{ 'active': hadFilter('RW_EXPIRED')}" (click)="selectFilter('RW_EXPIRED')">
                        <i class="red warning circle icon" title="Quá hạn"></i>
                    </div>
    
    
                    <div class="right menu">
                        <div class="ui right aligned  search item">
                            <div class="ui transparent icon input">
                                <input type="text" placeholder="Tìm kiếm nhanh" [(ngModel)]="filter">
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
                <div class="ui attached segment fullheight overflow-scroll">
                    <div class="ui divided selection very relaxed list">
                        
                    </div>
                </div> -->

                <accordion [closeOthers]="true" [isAnimated]="true">
                    <div class="item" *ngFor="let roadwork of listRoadwork | orderBy: ['name'] | searchFilter: filter:['name'] | filter: statusFilter: statusFilterValues ">
                        <accordion-group (isOpenChange)="openRoadworkDetail(roadwork)"> 
                            <span accordion-heading>{{roadwork.name}}</span>
                            <div class="list-group">
                                <div class="row">
                                    <p class="col-md-6"><img src="../../../assets/images/start_16.png" /> <strong>Bắt đầu: </strong><span>{{roadwork.startAt | date :'dd/MM/yyyy'}}</span></p>
                                    <p class="col-md-6"><img src="../../../assets/images/finish_16.png" /> <strong>Kết thúc thực tế: </strong><span>{{roadwork.finishAt | date :'dd/MM/yyyy'}}</span>
                                        <span *ngIf="!roadwork.finishAt">Chưa xác định</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <p class="col-md-6"><img src="../../../assets/images/finishplan_16.png" /> <strong>Kết thúc dự kiến: </strong><span>{{roadwork.finishPlan | date :'dd/MM/yyyy'}}</span></p>
                                    <p class="col-md-6"><img src="../../../assets/images/status_16.png" /> <strong>Tình trạng: </strong><span>{{roadwork.status}}</span></p>
                                </div>
                                <a [routerLink]="['.', roadwork._id,'update']" class="ui primary button">Chỉnh sửa</a>
                            </div>
                        </accordion-group>
                    </div>
                </accordion>
        </div>
    </div>
</div>