.ui.secondary.segment.roadwork-header {
    background-color: #1890ff;
    color: #fff;
}

.ui.secondary.segment > h4 {
    color: #fff;
}

.no-border {
    border: none;
}

:host >>> .card.customClass .card-header{
    background-color: #1890ff;
    color: #fff;
}

:host >>> .card.customClass .card-header:hover{
    background-color: rgba(24, 143, 255, 0.8);
}