<div class="map-layout">
    <div class="map-leaflet"
        leaflet
        [leafletOptions]="configure.options"
        (leafletMapReady)="initMap($event)">
    </div>

    <div class="map-search">
        <div class="map-search-bar">
            <nz-input-group [nzSuffix]="searchQuery.length > 0 ? suffixIconClose : suffixIconSearch" [nzSize]="'large'">
                <input type="text" nz-input placeholder="Tìm vị trí" [(ngModel)]="searchQuery" appSearchRoads [appSearchRoadsText]="searchQuery" (newListRoads)="searchResults = $event" (isSearch)="isSearch = $event"/>
            </nz-input-group>
            <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
            </ng-template>
            <ng-template #suffixIconClose>
                <i nz-icon nzType="close" (click)="searchIconClick()"></i>
            </ng-template>
    
            <div class="results transition visible" *ngIf="searchResults?.length > 0 && isSearch">
                <ul nz-menu>
                    <li class="map-search-result" nz-menu-item *ngFor="let result of searchResults; index as i" (click)="searchSelect(result)">
                        <b>{{result.properties.name}}</b>
                        <br>
                        {{result.properties.city}}
                    </li>
                </ul>
            </div>
            <div class="results transition visible" *ngIf="searchResults?.length <= 0 && isSearch" style="background-color: white;">
                <a class="result">
                    <div class="content">
                        <div class="title">Không tìm thấy</div>
                        <div class="description">Hãy thử lại</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <button class="map-layout-info-button" nz-button nzType="primary" [@mapLayoutInfoButton]="isOpen ? 'open' : 'closed'" (click)="toggleLayoutInfo()">
        <i nz-icon nzType="{{isOpen ? 'right' : 'left'}}"></i>
    </button>

    <div [@mapLayoutInfo]="isOpen ? 'open' : 'closed'" class="map-layout-info-right">
        <div class="map-layout-info-content" #mapLayoutInfo>
            <div class="ui segments">
                <div class="ui segment">
                    <h2 class="ui center aligned header">
                        <div class="content">
                            Công trình thi công
                        </div>
                    </h2>
                </div>
                <div class="ui secondary segment no-padding">
                    <nz-affix [nzTarget]="mapLayoutInfo">
                        <div  class="affix-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 p-0">
                                        <div class="btn-group">
                                            <button class="btn btn-success" type="button" [routerLink]="['./create']">
                                                <i class="fa-solid fa-plus"></i>
                                                Thêm
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-6 p-0">
                                        <div class="btn-group float-end">
                    
                                            <button class="btn btn-secondary dropdown" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="cloud download icon"></i>
                                                Xuất dữ liệu
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                
                                                <li><a class="dropdown-item" (click)="exportCSV()"><i class="file outline icon"></i> CSV</a></li>
                                                <li><a class="dropdown-item" (click)="exportXLS()"><i class="file excel outline icon"></i> Excel</a></li>
                                                <li><a class="dropdown-item" (click)="exportJSON()" [href]="objectUrl" download="roadworks.json"><i class="file code outline icon"></i> JSON</a></li>
                                            </ul>
   
                                            <a class="btn btn-secondary" [href]="objectUrl | safe: 'url'" download="ttgt_camera-giao-thong.csv" [ngClass]="{'loading': !objectUrl, 'disabled': !objectUrl}">
                                                <i class="download icon"></i>
                                            </a>
                                        </div>
                                        
                                    </div>                        
                                </div>
                                <br>
                                <div class="row">
                                    <nz-input-group [nzSuffix]="suffixIconFilter">
                                        <input type="text" nz-input placeholder="Tìm nhanh" [(ngModel)]="filter"/>
                                    </nz-input-group>
                                    <ng-template #suffixIconFilter>
                                        <i nz-icon><i class="filter icon"></i></i>
                                    </ng-template>                                   
                                </div>     
                            </div>
                        </div>
                    </nz-affix>
                </div>
            </div>

            <div class="ui segment">
                <h4 class="ui center aligned header" *ngIf="listRoadwork.length == 0">
                    <div class="content" *ngIf="isLoading">
                        <nz-spin nzSimple></nz-spin>
                        Đang tải...
                    </div>
                    <div class="content" *ngIf="!isLoading && listRoadwork.length == 0">
                        Không có công trình nào
                    </div>
                    <div class="content" *ngIf="listRoadwork.length > 0 && (listRoadwork | orderBy: ['name'] | searchFilter: filter:['name'] | filter: statusFilter: statusFilterValues).length <= 0">
                        Không tìm thấy công trình đó
                    </div>
                </h4>
            </div>

            <div class="ui segments no-border" *ngFor="let roadwork of listRoadwork | orderBy: ['name'] | searchFilter: filter:['name'] | filter: statusFilter: statusFilterValues" (click)="openRoadworkDetail(roadwork)">
                <div class="ui secondary segment roadwork-header">
                    <h4>{{roadwork.name}}</h4>
                </div>

                <div class="ui segment">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <p><i class="fa-solid fa-hourglass-start"></i><strong> Bắt đầu: </strong><span>{{roadwork.startAt | date :'dd/MM/yyyy'}}</span></p>
                                <p><i class="fa-solid fa-hourglass-end"></i><strong> Kết thúc dự kiến: </strong><span>{{roadwork.finishPlan | date :'dd/MM/yyyy'}}</span></p>
                                <p><i class="fa-solid fa-flag-checkered"></i><strong> Kết thúc thực tế: </strong><span>{{roadwork.finishAt | date :'dd/MM/yyyy'}}</span>
                                    <span *ngIf="!roadwork.finishAt">Chưa xác định</span>
                                </p>
                                <p><i class="fa-solid fa-bars-progress"></i> <strong> Tình trạng: </strong><span>{{roadwork.status}}</span></p>
                            </div>

                            <div class="col-md-4">
                                <button class="btn btn-primary" [routerLink]="['.', roadwork._id, 'update']"><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>