<label class="label">Hình ảnh khi mất kết nối</label>
<div class="field-label label" style="margin-left: 20px;">
    <input type="checkbox">
    <label style="margin-left: 10px;"> Chữ </label>
</div>
<div class="field-label label">
    <input type="checkbox">
    <label style="margin-left: 10px;"> Tùy chọn </label>
</div>
<br>
<div class="field-item">
    <label class="label">Chữ hiển thị</label>
    <input style="margin-left: 30px;" name="email" type="email" id="email" placeholder="Mất kết nối">
</div>
<form nz-form>

</form>

 


  