

<h2 class="ui dividing header">Cấu hình cảnh báo tình trạng camera</h2>
<div class="ui show error message" [ngClass]="{'transform': admin.errorValidate}" *ngIf="admin.configForm.invalid && admin.editMode">
    <ul class="list">
        <li *ngIf="admin.configForm.controls.imageError.errors?.required"><span class="config-error-message">Hình ảnh khi mất kết nối với thông báo</span> không được để trống</li>
        <li *ngIf="admin.configForm.controls.errorTime.errors?.required || admin.configForm.controls.refreshTime.errors?.required"><span class="config-error-message">Thời gian</span> không được để trống</li>
        <li *ngIf="admin.configForm.controls.errorTime.errors?.pattern"><span class="config-error-message">Thời gian gián đoạn khi phát sinh trạng thái "Mất kết nối"</span> phải là số nguyên
            lớn hơn 0 và nhỏ hơn {{admin.configValidate.errorTime.value}}
        </li>
        <li *ngIf="admin.configForm.controls.refreshTime.errors?.pattern"><span class="config-error-message">Thời gian tải lại hình ảnh camera	</span> phải là số nguyên lớn hơn 0 và nhỏ hơn
            {{admin.configValidate.refreshTime.value}}
        </li>
        <li *ngIf=" admin.configForm.controls.refreshCameraLayer.errors?.pattern "><span class="config-error-message">Thời gian cập nhật tình trạng camera	</span> phải là số nguyên lớn hơn 0 và nhỏ hơn
            {{admin.configValidate.refreshCameraLayer.value}}
        </li>
    </ul>
</div>
<div class="fields inline">
    <label><h4>Hình ảnh khi mất kết nối với thông báo</h4></label>
    <div class="field">
        <div class="ui radio checkbox">
            <input type="radio" name="imageType" [(ngModel)]="admin.setting.cameraSituations.imageError['imageType']" value="text">
            <label>Chữ</label>
        </div>
    </div>
    
    <div class="field">
        <div class="ui radio checkbox">
            <input [disabled]="!admin.editMode" type="radio" name="imageType" [(ngModel)]="admin.setting.cameraSituations.imageError.imageType" value="image">
            <label>Tùy chọn</label>
        </div>
    </div>
</div>
<div class="field inline" *ngIf="admin.setting.cameraSituations.imageError.imageType == 'text'">
    <label><h4>Chữ hiển thị</h4></label>
    <span *ngIf="!admin.editMode && admin.setting.cameraSituations.imageError.imageType == 'text'">{{admin.setting.cameraSituations.imageError.text}}</span>
    <input required="required" name="imageError" *ngIf="admin.editMode" type="text" placeholder="Có lỗi kết nối" [(ngModel)]="admin.setting.cameraSituations.imageError.text">
</div>
<div class="field inline" *ngIf="admin.setting.cameraSituations.imageError.imageType == 'image' && admin.editMode">
    <label for="imageUpload" class="button-upload"><i class="upload icon"></i> Tải hình</label>
    <input name="image" id="imageUpload" type="file" accept="image/*" (change)="admin.previewImage()">
</div>
<div class="field">
    <span *ngIf="!admin.setting.cameraSituations.imageError">Chưa có hình</span>
    <div class="ui large image" *ngIf="admin.setting.cameraSituations.imageError.imageType == 'text'">
        <img src="//dummyimage.com/600x400/000/ff0000&text={{admin.setting.cameraSituations.imageError.text}}">
    </div>
    <div class="ui large image" *ngIf="admin.setting.cameraSituations.imageError.imageType == 'image'">
        <img [src]="admin.setting.cameraSituations.imageError.image">
    </div>
</div>
<div class="field">
    <label><h4>Cấu hình thời gian</h4></label>
    <table class="ui unstackable celled padded table">
        <thead>
            <tr>
                <th class="eight wide">Loại</th>
                <th class="eight wide">Thời gian</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Thời gian gián đoạn khi phát sinh trạng thái "Mất kết nối" <br/>
                    <small>(1 phút - 60 phút)</small>
                </td>
                <td>
                    <p *ngIf="!admin.editMode">{{admin.setting.cameraSituations.errorTime}} phút</p>
                    <div *ngIf="admin.editMode" class="ui right labeled input">
                        <input name="errorTime" pattern="{{admin.configValidate.errorTime.regexr}}" required="required" type="number" placeholder="1" [(ngModel)]="admin.setting.cameraSituations.errorTime">
                        <div class="ui basic label">
                            phút
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Thời gian cập nhật tình trạng camera <br/>
                    <small>(1 phút - 10 phút)</small>
                </td>
                <td>
                    <p *ngIf="!admin.editMode">{{admin.setting.cameraSituations.refreshCameraLayer}} phút</p>
                    <div *ngIf="admin.editMode" class="ui right labeled input">
                        <input name="refreshCameraLayer" pattern="{{admin.configValidate.refreshCameraLayer.regexr}}" required="required" type="number" placeholder="1"
                            [(ngModel)]="admin.setting.cameraSituations.refreshCameraLayer">
                        <div class="ui basic label">
                            phút
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Thời gian tải lại hình ảnh camera <br/>
                    <small>(1 giây - 60 giây)</small>
                </td>
                <td>
                    <p *ngIf="!admin.editMode">{{admin.setting.cameraSituations.refreshTime}} giây</p>
                    <div *ngIf="admin.editMode" class="ui right labeled input">
                        <input name="refreshTime" pattern="{{admin.configValidate.refreshCamera.regexr}}" required="required" type="number" placeholder="1"
                        [(ngModel)]="admin.setting.cameraSituations.refreshTime">
                        <div class="ui basic label">
                            giây
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
