<div class="table-wrapper">  
    <button  class="btn btn-success" id="btnAddGroupTop" data-tooltip="Thêm nhóm" data-position="top left" (click)="openEdit()"><i class="add icon"></i> Thêm nhóm mới</button>
    <table class="ui unstackable celled padded table">
        <thead>
            <tr>
                <th></th>
                <th> Tên nhóm</th>
                <th> Số lượng thành viên</th>
                <th> Quyền</th>
                <th>Chỉnh sửa</th>
     
            </tr>
        </thead>
        <tbody>
            <tr (click)="selectGroup(group)" *ngFor="let group of groups"  [ngClass]="{positive: group.isSelected}">
                <td class="collapsing">
                    <div class="ui checkbox" (click)="toggleGroup(group, $event)">
                        <input type="checkbox" [checked]="group['isSelected']"> <label></label>
                    </div>
                </td>
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            <span>{{group.name}}</span>
                            <div class="sub header">{{group.description}}</div>
                        </div>
                    </h4>
                </td>
                <td>
                    <span>{{group.users.length}}</span> thành viên
                </td>
                <td>
                    <span>
                        {{group.permissionsStats.total - (group.permissionsStats.none|| 0)}} quyền ({{group.permissionsStats.read || 0}} Xem | {{group.permissionsStats.update
                            || 0}} Cập nhật | {{group.permissionsStats.manage || 0}} Quản lý)
                    </span>
                </td>
                <td>
                    <button class="no-animate ui compact icon button" (click)="toggleEdit(group, $event);">
                        <i  class="write icon"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>