<div class="table-wrapper">  
    <button  class="btn btn-success" id="btnAddGroupTop" [disabled]="isUsersLoading" data-tooltip="Thêm nhóm" data-position="top left" (click)="openEdit()"><i class="add icon"></i> Thêm nhóm mới</button>
    <table class="ui unstackable celled padded table">
        <thead>
            <tr>
                <th></th>
                <th> Tên nhóm</th>
                <th> Số lượng thành viên</th>
                <th> Quyền</th>
                <th>Chỉnh sửa</th>
     
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="isUsersLoading">
                <td colspan="5">
                <div class="ui attached segment height-100">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                </div>
            </tr>
            <tr class="hoverable" (click)="toggleGroup(group, $event)" *ngFor="let group of groups"  [ngClass]="{selected: group.isSelected}">
                <td class="collapsing">
                    <div class="ui checkbox" (click)="selectGroup(group)">
                        <input type="checkbox" [checked]="group['isSelected']"> <label></label>
                    </div>
                </td>
                <td>
                    <h4 class="ui header">
                        <div class="content">
                            <span>{{group.name}}</span>
                            <div class="sub header">{{group.description}}</div>
                        </div>
                    </h4>
                </td>
                <td>
                    <span>{{group.users.length}}</span> thành viên
                </td>
                <td>
                    <span>
                        {{group.permissionsStats.total - (group.permissionsStats.none|| 0)}} quyền <span class="d-none d-sm-inline">({{group.permissionsStats.read || 0}} Xem | {{group.permissionsStats.update
                            || 0}} Cập nhật | {{group.permissionsStats.manage || 0}} Quản lý)</span>
                    </span>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="toggleEdit(group, $event);" data-tooltip="Chỉnh sửa phân luồng"><i class="fa-solid fa-pen-to-square"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>