.table-wrapper {
    width: 100%;
    background: #fff;
    padding: 20px 25px;
    border-radius: 0px 3px 3px 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}

.hoverable:hover {
    background: rgba(0, 0, 0, 0.1);
}

.hoverable.selected {
    background: rgba(0, 0, 0, 0.3);
}

