.ant-layout-sider-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-sider-trigger:hover {
  color: #1890ff;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  max-height: 100%;
  overflow-y: auto;
}

nz-footer {
  height: 48px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  background-color: #001529;
}

nz-sider {
  padding-top: 48px;
}

::ng-deep .ant-layout-sider-trigger {
  position: absolute;
  top: 0;
}

nz-footer > button {
  margin-right: 30px;
  width: 100px;
}