<nz-layout>
      <nz-sider nzCollapsible nzWidth="200px">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="Cấu hình" nzIcon="dashboard">
            <ul>
              <li nz-menu-item nzMatchRoute> <a [routerLink]="chooseConfigPageAble()? ['./configCamera']: null"  [ngClass]="{active: isActive('/admin/configCamera')}">Tình trạng camera</a> </li>
              <li nz-menu-item nzMatchRoute> <a [routerLink]="chooseConfigPageAble()? ['./configTraffic']: null" [ngClass]="{active: isActive('/admin/configTraffic')}">Tình trạng giao thông</a> </li>
              <li nz-menu-item nzMatchRoute> <a [routerLink]="chooseConfigPageAble()? ['./configEvent']: null" [ngClass]="{active: isActive('/admin/configEvent')}">Sự kiện giao thông</a> </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <div class="inner-content">
          <nz-content style="z-index: 999;"> 
            <form (ngSubmit)="openPopupConfig('save')">
              <router-outlet>
                  <!-- <nz-breadcrumb>
                    <nz-breadcrumb-item *ngIf="setting.status != 'applied' && setting.status != 'error'"><p nz-submenu nzIcon="wait">Cấu hình hệ thống có thay đổi</p><p>Sẽ tự động cập nhật trong <time>{{timeToUpdate | amLocale:'vi' | amTimeAgo}}</time></p></nz-breadcrumb-item>
                  </nz-breadcrumb> -->

                </router-outlet>
            </form>
          </nz-content>
        </div>
        <nz-footer style="z-index: 1000;">Ant Design ©2020 Implement By Angular
          <button *ngIf="!editMode" nz-button nzType="primary" style="float: right;" (click)="startSetting()">Chỉnh sửa</button>
          <button *ngIf="editMode" nz-button nzType="primary" style="float: right;" type="submit" [disabled]="!configForm.dirty">Lưu</button>
          <button *ngIf="editMode" nz-button nzType="primary" style="float: right;" type="button" (click)="openPopupConfig('cancel')" class="ui tiny button">Hủy</button>
        </nz-footer>
      </nz-layout>
    </nz-layout>
        
       
        



