  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 475px;
  }

  nz-sider{
    
    min-height: 0;
    height:auto;
  }

  nz-footer {
    text-align: center;
    right: 0px !important;
    height: 60.84px !important;
    position: fixed !important;
    z-index: 200 !important;
    width: 100% !important;
    bottom: 0px !important;
    padding: 15px !important;
  }

 