.input{
    margin-left: 10px;
    box-sizing : border-box; 
    position : relative; 
    width : 204.667px; 
    height: 35px;
    min-width : 0px; 
    padding : 10px 11px; 
    color : rgba(0, 0, 0, 0.85); 
    font-size : 14px; 
    line-height : 22.001px; 
    background-color : rgb(255, 255, 255); 
    background-image : none; 
    border : 1px solid rgb(64, 169, 255); 
    border-radius : 2px; 
    transition : all 0.3s ease 0s; 
    display : inline-flex; 
    border-color : rgb(64, 169, 255); 
    z-index : 1; 
    border-right-width : 1px; 

}

.input-table1{
  
    margin-left: 10px;
    box-sizing : border-box; 
    position : relative; 
    width : 400px; 
    height: 35px;
    min-width : 0px; 
    padding : 10px 11px; 
    color : rgba(0, 0, 0, 0.85); 
    font-size : 14px; 
    line-height : 22.001px; 
    background-color : rgb(255, 255, 255); 
    background-image : none; 
    border : 1px solid rgb(64, 169, 255); 
    border-radius : 2px; 
    transition : all 0.3s ease 0s; 
    display : inline-flex; 
    border-color : rgb(64, 169, 255); 
    z-index : 1; 
    border-right-width : 1px; 

}

.input-table2{
  
    margin-left: 10px;
    box-sizing : border-box; 
    position : relative; 
    width : 192px; 
    height: 35px;
    min-width : 0px; 
    padding : 10px 11px; 
    color : rgba(0, 0, 0, 0.85); 
    font-size : 14px; 
    line-height : 22.001px; 
    background-color : rgb(255, 255, 255); 
    background-image : none; 
    border : 1px solid rgb(64, 169, 255); 
    border-radius : 2px; 
    transition : all 0.3s ease 0s; 
    display : inline-flex; 
    border-color : rgb(64, 169, 255); 
    z-index : 1; 
    border-right-width : 1px; 

}

.label{
    box-sizing : border-box; 
    touch-action : manipulation; 
    font-size : 14px; 
    position : relative; 
    display : inline-flex; 
    align-items : center; 
    max-width : 100%; 
    height : 32px; 
    color : rgba(0, 0, 0, 0.85); 

}

.form-item{
    box-sizing : border-box; 
    margin : 0px; 
    padding : 24px; 
    color : rgba(0, 0, 0, 0.85); 
    font-size : 14px; 
    font-variant : tabular-nums; 
    line-height : 22.001px; 
    list-style : outside none none; 
    font-feature-settings : "tnum", "tnum"; 
    background : rgb(251, 251, 251) none repeat scroll 0% 0% / auto padding-box border-box; 
    border : 1px solid rgb(217, 217, 217); 
    border-radius : 6px; 

}

.custom-padding{
    margin-top: 25px;
    margin-bottom: 25px;
}

.field{
    box-sizing : border-box; 
    margin : 0px; 
    padding : 42px 24px 50px; 
    background-color : rgb(255, 255, 255); 
    color : rgba(0, 0, 0, 0.85); 
    border-bottom : 1px solid rgb(240, 240, 240); 


}

.field-item{
    box-sizing : border-box; 
    display : flex; 
    flex-flow : row wrap; 
    margin : 0px 0px 24px; 
    padding : 0px; 
    color : rgba(0, 0, 0, 0.85); 
    font-size : 14px; 
    font-variant : tabular-nums; 
    line-height : 22.001px; 
    list-style : outside none none; 
    font-feature-settings : "tnum", "tnum"; 
    vertical-align : top; 
    transition : none 0s ease 0s; 

}

.field-label{
    box-sizing : border-box; 
    flex : 1 1 auto; 
    max-width : 100%; 
    margin : 0px; 
    padding : 10px; 
    display : inline-flex;

}

.legend-line-red {
    margin-right: 8px;
    height:10px;
    display: inline-block;
    width: 100px;
    background:#db2828;
    border-bottom:1px solid #db2828;
}

.legend-line-orange {
    margin-right: 8px;
    height:10px;
    display: inline-block;
    width: 100px;
    background:#f26202;
    border-bottom:1px solid #f26202;
}

.legend-line-yellow {
    margin-right: 8px;
    height:10px;
    display: inline-block;
    width: 100px;
    background:#eaae00;
    border-bottom:1px solid #eaae00;
}

.legend-line-green {
    margin-right: 8px;
    height:10px;
    display: inline-block;
    width: 100px;
    background:#16ab39;
    border-bottom:1px solid #16ab39;
}
