<div class="map-layout-info-content" #mapLayoutInfo>
    <div class="ui segments">
        <div class="ui segment">
            <h2 class="ui center aligned header">
                <div class="content">
                    Lớp thông tin tĩnh
                </div>
            </h2>
        </div>
        <div class="ui secondary segment no-padding">
            <nz-affix [nzTarget]="mapLayoutInfo">
                <div  class="affix-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="btn-group">
                                    <button [disabled]="!appCom.checkPermission(['staticmaps:manage'])" class="btn btn-success" type="button" [routerLink]="['./create']">
                                        <i class="fa-solid fa-plus"></i>
                                        Thêm
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="btn-group float-end">
            
                                    <button class="btn btn-secondary dropdown" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="cloud download icon"></i>
                                        Xuất dữ liệu
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        
                                        <li><a class="dropdown-item" (click)="exportCSV()"><i class="file outline icon"></i> CSV</a></li>
                                        <li><a class="dropdown-item" (click)="exportXLS()"><i class="file excel outline icon"></i> Excel</a></li>
                                        <li><a class="dropdown-item" (click)="exportJSON()"><i class="file code outline icon"></i> JSON</a></li>
                                    </ul>
                                </div>
                                
                            </div>                        
                        </div>
                        <br>
                        <div class="row">
                            <nz-input-group [nzSuffix]="suffixIconFilter">
                                <input type="text" nz-input placeholder="Tìm nhanh" [(ngModel)]="searchText"/>
                            </nz-input-group>
                            <ng-template #suffixIconFilter>
                                <i nz-icon><i class="filter icon"></i></i>
                            </ng-template>                                   
                        </div>     
                    </div>
                </div>
            </nz-affix>
        </div>
    </div>

    <div class="ui segment">
        <h4 class="ui center aligned header" *ngIf="listData.length == 0">
            <div class="content" *ngIf="isLoading">
                <nz-spin nzSimple></nz-spin>
                Đang tải...
            </div>
            <div class="content" *ngIf="!isLoading && listData.length == 0">
                <nz-spin nzSimple></nz-spin>
                Không có lớp thông tin tĩnh nào
            </div>
        </h4>

        <div class="ui middle aligned selection divided list">
            <div [ngClass]="{'active': staticMap['selected']}" class="item" (click)="selectStaticMap(staticMap)" *ngFor="let staticMap of listData | searchFilter: searchText:['staticMapData', 'name']">
                <div class="left floated content ">
                    <div *ngIf="!staticMap?.staticMapData?.icon" class="ui simple dropdown label color-picker {{staticMap.color ? staticMap.color : 'black'}}">
                        <div class="menu ui grid">
                            <div class="item {{item.key}} four wide column item-color-hover" (click)="changeColorStaticMap(staticMap, item.key);$event.stopPropagation()" *ngFor="let item of listColors | keyvalue"></div>
                        </div>
                    </div>
                    <img *ngIf="staticMap?.staticMapData?.icon" class="ui avatar image" src="{{staticMap.staticMapData.icon.data.iconUrl}}">
                </div>
                <div class="right floated content ">
                    <button type="button" [disabled]="!appCom.checkPermission(['staticmaps:update','staticmaps:manage'])" class="ui icon button" [routerLink]="['.', staticMap.staticMapData._id, 'update']" data-tooltip="Chỉnh sửa lớp thông tin" data-position="top right"><i class="ui write icon"></i></button>
                </div>
                <div class="content">
                    <span class="header"> {{staticMap.staticMapData.name}} </span>
                    <span> {{staticMap.staticMapData.description}} </span>
                </div>
            </div>
        </div>
    </div>
</div>